[2014-08-14 16:41] spencerlyon2 opened #4 "ENH: use constrained optimizer in jv.jl when one is available in pure julia"

[2014-08-19 16:42] spencerlyon2 opened #8 "BUG: fix ifp_solutions"
The `brent` method for Optim.jl's `optimize` function seems to be more fickle than `brentq` from scipy.

The solution for exercise 4 didn't work because `optimize` kept complaining that the lower bound of the search region was not less than the upper bound (an annoying, albeit reasonable complaint).

[2014-08-22 22:51] spencerlyon2 opened #11 "perf: for some reason coleman_operator is slower than bellman_operator in ifp.jl"

[2014-09-01 20:58] sglyon opened #13 "ENH: parallelize the bellman_operator (and similar)"
This algorithm is easily parallelizable.

As a first shot we might want to implement this using the `DArray` type. We can refer to [this implementation](https://github.com/JuliaLang/julia/blob/master/examples/plife.jl) of the game of life to see how it works. If that doesn't give us what we want, we could easily just distribute indices/chunks of the array, have each process update their chunk, the

[2014-10-30 15:39] spencerlyon2 opened #15 "REF: new interpolation package"
Right now the main performance bottleneck in the library is linear interpolation.

We are currently using Grid.jl, which has by its authors been described as flexible, but slow.

There is a new package [Dierckx.jl](https://github.com/kbarbary/Dierckx.jl) that wraps a fortran library that is supposed to feel like the routines in `spicy.interpolate`, but run at Fortran speeds.

We should look in to

[2014-11-03 00:53] jstac opened #16 "Update lqcontrol to handle cross product terms"
On the Python side lqcontrol.py has been updated to handle cross-product terms

http://quant-econ.net/py/lqcontrol.html#adding-a-cross-product-term

Same functionality required on Julia side.

[2014-11-26 02:48] Echetlaeus opened #24 "QuantEcon Julia: a list of the routines used"
Hello,

I am trying to learn Julia through the lecture notes by Prof. Sargent and Stachurski. In the manuscript , when `QuantEcon` is utilized they use specific packages (routines) like `tauchen`.

Where one can find the full list of the routines used  plus, maybe, a short description of them?

[2015-01-26 20:56] spencerlyon2 commented on #13
@cc7768

[2015-01-26 22:14] jstac commented on #13
Random thoughts: One issue is that there are so many different kinds of Bellman operators.  Are you thinking of an "example" parallelization for one model that can be adapted to others on an individual basis?  Or something more generic?

I've discussed with @oyamad the possibility of putting together a subpackage for working with finite state MCs, including some existing code plus optimization via

[2015-01-27 15:22] spencerlyon2 commented on #13
@jstac : great point.

I would love for this to be a general tool, but realize we would probably need to write the tools for some subset or class of model types. If you and @oyamad would like to push forward on the MC toolkit I would be very interested in helping out.

[2015-01-27 16:28] cc7768 commented on #13
This all sounds very cool.  Am interested in these topics and think providing a good framework for this within QE would be a great achievement.  Let me know about the progress on the finite state MC toolkit --I would be willing to chip in a little there (although time might be scarce until school is out).

[2015-01-27 16:50] albop commented on #13
On parallelizing dynamic programming algorithm: it is a very important topic, with a lot of ongoing research. There are many ways to do it, that are also language specific. Do you know specifically how you want to do it ? To me, the way to go would be to choose a simple baseline model then try and document a few different approaches on it. I'm very curious about it. There are be many things to lea

[2015-01-27 16:57] spencerlyon2 commented on #13
@albop Do you have any references or have you otherwise seen any of the "language specific" ways of doing this. I'd be curious to see where others have gone with this.

If anyone has a "good" model that can serve as a baseline, please let me know. I would think that some minimal qualities of a good baseline model would be that it is relatively straightforward and easy to understand (so we can thin

[2015-01-27 19:18] albop commented on #13
My point was that in general there are many paradigm for parallelism: SIMD, MIMD, inprocess, multicore, concurrent/parallel (look at http://en.wikipedia.org/wiki/Parallel_computing)
Many languages provide syntactic sugar like parfor, coroutines (or goroutines), futures. But the kind of performance gains you can get out of it depend on a lot of factors. For instance Python coroutines are actually e

[2015-01-27 19:20] spencerlyon2 commented on #13
Thanks for the feedback. Very useful

I see what you meant about wrt parallelism.

And we could definitely start with the growth model and move forward from there (I'm assuming by neoclassical you meant neoclassical growth model).

[2015-01-27 19:24] albop commented on #13
Yes, the neoclassical growth model. Keep me posted about your progress.

[2015-01-27 19:25] spencerlyon2 commented on #13
Will do. It might be somewhat slow as classes start again this week, but I will work on it

[2015-01-28 07:19] oyamad commented on #13
Hi all,
I have been working on coding a Markov Decision Processes (MDP) class (while I am not totally sure if this is exactly what @jstac has in mid), which has been work in progress for a while:
https://github.com/oyamad/mdp

There are two tasks yet to be done:

* Integrate two pieces of code, in which a transition matrix is

  0. a 3-dimensional array defined on S x A x S
  0. a 2-dimensional ar

[2015-01-28 23:17] jstac commented on #13
For the record I've had a look at @oyamad 's code and I think it's excellent.  Just what I had in mind.  The notebook illustrations are also excellent.  I'm constrained by time sensitive work commitments for the next month or two but after that I'm very keen to get it merged.  And, being generic, I think it would be an ideal target for parallelization.

[2015-01-29 03:35] spencerlyon2 opened #31 "PY: cartesian"
We don't have a direct representation of the `cartesian` module from the python side.

I think the function in the python library is actually somewhat like the `repeat` function from the Julia standard library. @albop, can you confirm that?

[2015-01-29 03:36] spencerlyon2 opened #32 "PY: graph_tools"
Don't have a julia version of the graph_tools module

[2015-01-29 03:36] spencerlyon2 opened #33 "PY: gth_solve"
Don't have a julia version of the gth_solve module

[2015-01-29 03:37] sglyon opened #34 "PY: ivp"
We don't have a Julia version of the ivp module

[2015-01-29 03:37] spencerlyon2 opened #35 "PY: matrix_eqn"
Don't have a julia version of the matrix_eqn module

[2015-01-29 03:40] spencerlyon2 opened #36 "PY: rank_nullspace"
The Julai versions of the files in this module are both contained in the standard library.

 The `rank_est` function from our python library is named `rank` in the Julia standard library

 The `nullspace` function from our python library is named `null` in the Julia standard library

This is simply a note to make devs aware of the difference and perhaps a reminder to make a note about this differe

[2015-01-29 03:41] spencerlyon2 opened #37 "PY: robustlq"
We don't have a Julia version of the robustlq module

[2015-01-29 05:48] oyamad commented on #33
gth_solve is contained in [mc_tools.jl](https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/mc_tools.jl#L72).

See also:
[Add gth support to mc_compute_stationary](https://github.com/QuantEcon/QuantEcon.jl/pull/26).

[2015-01-29 06:00] spencerlyon2 commented on #33
Ahh yes, that's right. Thanks for the reminder.

[2015-01-29 06:00] #33 closed

[2015-01-30 03:38] albop commented on #31
Yes, kind of.  Each column of the cartesian grid can be constructed using repeat. For instance, `[1,1,1,2,2,2,3,3,3,1,1,1,2,2,2,3,3,3]` can be constructed with with `repeat([[1,2,3]], inner=[3,1], outer=[2,1])`. The helper function I ended up writing was there to compensate for the lack of such a function.
It should be very easy to replicate the cartesian function in julia using `repeat` (in that

[2015-02-15 03:57] isutoris opened #38 "typo in ifp.jl code"
I've been browsing through QuantEcon code for income fluctuations problem, and noticed probable typo in definition of get_greedy! operator at src/models/ifp.jl, line 96:

[code]

The input array with value function values is denoted V, but bellman_operator! is then called with lowercase v (although it looks like that the inplace version of get_greedy is not called in examples or tests, so this has

[2015-02-16 09:40] jstac commented on #38
@isutoris Many thanks for picking this up and letting us know.  Much appreciated.  @spencerlyon2 I'll leave you to make the change assuming you agree.

[2015-02-16 12:53] spencerlyon2 commented on #38
Oh yes, definitely a typo here. I'll make the fix and close the issue.

Thanks @isutoris

[2015-04-24 03:57] spencerlyon2 opened #42 "BUG: new tuple updates in base break jv.jl"
[this line](https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/models/jv.jl#L76) specifically.

I think there may be more in the `get_greedy!` methods too

[2015-05-27 19:12] cc7768 commented on #42
I think this gets fixed in #43

[2015-05-27 19:50] #42 closed

[2015-06-01 16:17] spencerlyon2 opened #45 "Merge in CompEcon function approximation tools"
Right now these live in a different repo: https://github.com/spencerlyon2/CompEcon.jl

Before they are merged a few things need to happen:
- [ ] Tests
- [ ] Docstrings
- [ ] Decide on API. Do we want to expose the original API **and** a more Julian type-based API? That is kinda how it works right now, and it might help new users familiar with the Matlab tool box ease into using this package and Ju

[2015-06-01 16:23] spencerlyon2 opened #46 "Deal with existing PRs"
This really doesn't need to be its own issue, but there are enough open PRs that do different things that I wanted to make sure we noted to close those before implementing anything new.

[2015-06-15 14:24] #38 closed

[2015-06-17 13:54] spencerlyon2 opened #47 "Add docstrings"
Now that the doctoring mechanism in 0.4 is stable, we should start adding them to all of our routines.

Most of the text can be borrowed from the python docstrings, but we would want to do heavy reformatting to match the conventions established in the docs for methods in `Base`

This should address #24

[2015-06-17 14:01] spencerlyon2 commented on #15
I think pretty soon we will move in the CompEcon routines. See #45

We should keep an eye on [Interpolations.jl](https://github.com/tlycken/Interpolations.jl) as I think it will be _very_ hard to beat the performance they are aiming to get.

[2015-06-17 14:01] #15 closed

[2015-06-17 14:03] spencerlyon2 commented on #31
I don't think we need `cartesian`. The new `CartesianIndex` and `CartesianRange` types in 0.4 will be a simpler/more performant way to do this.

[2015-06-17 14:03] #31 closed

[2015-06-17 14:06] cc7768 commented on #47
Would be nice to have a wiki on what the docs in Julia should look like or maybe a link to point us in the right direction.

[2015-06-17 14:06] spencerlyon2 commented on #47
Great point, are you volunteering :wink: ?

[2015-06-17 14:37] spencerlyon2 commented on #32
@ZacCranko when you have the time, I think you have a better idea about what is in the Julia library already and what is available on the Python side, but not the Julia side.

[2015-06-17 14:38] spencerlyon2 commented on #32
Given that we `REQUIRE` `Graphs.jl`, the user will have that available. I don't know that we need to supply our own `graph_tools` also.

[2015-06-17 15:16] ZacCranko commented on #32
The only particularly special thing that `graph_tools.py` as far as I can tell is providing a method for computing the period of a Markov chain. Also I've been looking at the new module `LightGraphs.jl` as a possible replacement for `Graphs.jl` since it's a lot more lightweight and much easier to use.

To address this issue I could just implement this particular algorithm. Additionally, what are y

[2015-06-17 15:20] spencerlyon2 commented on #32
I also saw LightGraphs recently and am definitely in favor of moving to it if we can.

If we can just add methods to cover all the different properties defined in the python version of mc tools I don't think we also need to do the graphs. We'll let the developers of the LightGraphs handle that :smirk:

[2015-06-17 16:17] cc7768 commented on #37
It looks like this was mostly done before, but I've gone through and cleaned it up a little. I also added the Python docs, but will convert to a more Julia-esque format soon.

[2015-06-18 00:11] ZacCranko commented on #35
I'm tackling this one

[2015-06-18 00:13] ZacCranko commented on #32
Totally agree, we don't need to become a graphing library in addition to a computational economics library. I've been chatting with @sbromberger, just waiting on a couple new algorithms to be pushed in `LightGraphs.jl`, then I'll implement all of the python features.

[2015-06-18 00:23] ZacCranko commented on #35
@spencerlyon2 it looks like we already have a matrix_eqn.jl?

[2015-06-18 01:27] spencerlyon2 commented on #35
Yeah it looks like we do. Before closing this will you make sure we provide at least all the functionality from the python module?

[2015-06-18 01:51] ZacCranko commented on #35
Yep, all the functionality is already there along with tests.

[2015-06-18 01:52] spencerlyon2 commented on #35
Nice. Feel free to close this issue!

// Spencer

On June 17, 2015 at 9:51:46 PM EDT, Zac Cranko <notifications@github.com> wrote:Yep, all the functionality is already there along with tests.   —Reply to this email directly or view it on GitHub.

[2015-06-18 02:06] ZacCranko commented on #35
Would love to, but I don't have permission.

[2015-06-18 02:07] spencerlyon2 commented on #35
Closing now. Thanks.

[2015-06-18 02:07] #35 closed

[2015-06-18 03:08] spencerlyon2 commented on #46
Done!

[2015-06-18 03:08] #46 closed

[2015-06-18 15:26] sbromberger commented on #32
Hi all, just wanted to stick my nose in. I'm working on retooling BFS and DFS in LightGraphs. This will give us (hopfeully very fast) cycle detection and connected components (with both strong and weak for DiGraphs). I've currently got DAGs for the traversals working, so we've got a nice traversal tree.

Let me know if you need any other base functionality. I'm gratefully accepting PRs to code so

[2015-06-18 21:43] sbromberger commented on #32
Just following up - if you want to check out the "bfsdfs" branch of LightGraphs.jl, it'll have connectivity, traversal DAGs, and some other neat stuff. Comments appreciated.

[2015-06-19 01:02] spencerlyon2 commented on #32
Thanks for the heads up. I'm looking forward to our move to LightGraphs.

@ZacCranko is handling this issue so I look forward to his report.

[2015-06-19 03:30] oyamad commented on #32
Hi @sbromberger

As @spencerlyon2 and @ZacCranko discuss, it would be great if `LightGraphs.jl` could include the functionality of computing the period and cyclic components of a digraph as in [`graph_tools.py`](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/graph_tools.py#L188-L246), where I just coded the algorithm described in "[Graph-Theoretic Analysis of Finite Markov Chains]

[2015-06-19 14:38] sbromberger commented on #32
Hm. This is outside my area of expertise, unfortunately. However, perhaps the following can be used as a starting point? I've implemented cycle detection (`is_cyclic()`) which uses DFS and have `connected_components` for Graphs, and `strongly_connected_components`, and `weakly_connected_components` for DiGraphs.

I'll look into periodicity today or tomorrow.

[2015-06-19 14:42] ZacCranko commented on #32
@sbromberger I'll help you get this happening, but I needed to be asleep 40 minutes ago

[2015-06-19 14:42] sbromberger commented on #32
@ZacCranko totally on your schedule :) Have a good night.

[2015-06-20 02:04] spencerlyon2 commented on #36
Shouldn't need to do this.

[2015-06-20 02:04] #36 closed

[2015-06-20 02:05] spencerlyon2 commented on #34
Moving this to v0.3 milestone

[2015-06-20 02:14] spencerlyon2 commented on #13
@oyamad any update on the mdp code? I've just taken a look and it is indeed well written.

It reminds me of the `ddpsolve` function from Miranda and Fackler.

I think having a highly optimized (parallelized?) version of this would be very cool.

[2015-06-20 02:17] spencerlyon2 commented on #37
Thanks for looking at it and making sure it was running fine.

I'll take a look and try to get this issue closed. Will , probably look tomorrow.

[2015-06-22 00:30] rawls238 commented on #34
going to be working on this over the next couple weeks unless someone else has already done this and hasn't marked this issue as closed

[2015-06-22 01:48] oyamad commented on #13
@spencerlyon2 I haven't had the chance to touch the code since the previous comment of mine above...

I suspect the function from Miranda and Fackler does not allow sparse matrix inputs; one way to allow them is to adopt the "state-action pairs formulation", where the transition matrix is represented by a 2-dimensional array defined on SA x S, with SA being the set of (feasible) state-action pairs

[2015-06-22 13:02] spencerlyon2 commented on #34
@rawls238 that would be great.

No one is currently assigned and the work has not been done yet.

[2015-06-22 13:53] spencerlyon2 opened #49 "BUG: mc_tools non-determinism"
Found this while combing through deprecation warnings:

[code]

Shouldn't the `irreducible_subsets` of a given stochastic matrix be constant?

@ZacCranko any ideas what's going on here?

[2015-06-23 09:41] pkofod commented on #8
So what is the problem here? Is it that `opt_lb == R*a + z + b` at some points, or?

[2015-06-23 13:13] spencerlyon2 commented on #8
Yes, I guess the problem was that for some parameterization we had

[code]

I have fixed this in another branch that should be merged today.

I'll comment here when the change is merged into master.

[2015-06-23 14:57] #8 closed

[2015-06-23 15:04] spencerlyon2 commented on #47
closed by #50

[2015-06-23 15:04] #47 closed

[2015-06-23 15:06] spencerlyon2 commented on #24
Documentation is (for now) [here](http://quantecon.github.io/QuantEcon.jl/)

We might relocate to readthedocs, but will update a link the README if that happens.

The list of routines supplied by the package can be found on the [overview page](http://quantecon.github.io/QuantEcon.jl/api/) of the docs.

[2015-06-23 15:06] #24 closed

[2015-06-23 15:07] spencerlyon2 commented on #37
I think this was closed by #50

Thanks @cc7768

[2015-06-23 15:07] #37 closed

[2015-06-23 15:34] spencerlyon2 commented on #32
@ZacCranko @sbromberger I'm starting to look at this right now.

[2015-06-23 17:06] spencerlyon2 commented on #32
@sbromberger I know almost nothing about graph theory, so I apologize in advance for my ignorance. However,  I did notice something. The `DiGraph` code in [QuantEcon.py](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/graph_tools.py) supports adjacency matrices of the form `[1 0; 0 1]` as shown in the [tests](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/tests/tes

[2015-06-23 17:08] sbromberger commented on #32
@spencerlyon2 yes - I spoke with @ZacCranko about this this morning (my time). I don't know of any reason off the top of my head that self-loops *wouldn't* work, but there are a couple of changes to graphs.jl and digraphs.jl (specifically in `add_edge!`) to support it, and then we'd probably want to change `DefaultDistance()` just to be safe.

@ZacCranko said he'd be testing this and will report b

[2015-06-23 17:13] spencerlyon2 commented on #32
Oh ok great. I didn't realize you guys were already working on this.

I'll leave it to the experts and move on to something else then :)

p.s.: where are you located (i.e. what is "my time")?

[2015-06-23 17:14] sbromberger commented on #32
Normally it's US Pacific Time (currently UTC-7) but until middle of next month I'm in Bogotá, so UTC-5.

[2015-06-23 17:17] sbromberger commented on #32
@ZacCranko @spencerlyon2 also - a good way of doing this might be to create a new concrete type

[code]
and define/override the appropriate functions/methods there. That way you keep the self-loop stuff independent of the regular stuff, and if it turns out it works, we can incorporate it easily.

[2015-06-24 00:44] oyamad commented on #32
In fact, no support for digraphs with self-loops is not an issue for our purpose.

* Strongly connected components (SCCs) are invariant even if one removes self-loops (by definition, each node has access to that node itself, whether or not there is a self-loop). In the case of `[1 0; 0 1]` for example, we can instead consider `[0 0; 0 0]`, for both of which the SCCs are {1} and {2}.
* If a digraph

[2015-06-24 00:47] ZacCranko commented on #32
Thanks for that @oyamad, I'll be looking at this today.

[2015-06-24 00:49] ZacCranko commented on #49
I have 0 idea what's going on here, but I'll be relocating/reprogramming this stuff into LightGraphs when #32 is addressed.

[2015-06-24 01:36] sbromberger commented on #32
Confirmed that this appears to be working as intended in LightGraphs (you'll need the `bfsdfs` branch for this):

[code]

[2015-06-24 04:28] oyamad commented on #49
On [L155](https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/mc_tools.jl#L155) in `irreducible_subsets`:

[code]

if I understand correctly, `similar` corresponds to `numpy.empty_like`, so `p` is left uninitialized without being populated. I guess this is why the result is undetermined.

Maybe we need something like:

[code]

One problem is that we forgot to port tests for communication cla

[2015-06-24 04:32] jstac commented on #49
1 vote for conforming to @oyamad 's terminology on the Python side.  That code is carefully constructed and very well documented.

[2015-06-24 04:33] spencerlyon2 commented on #49
Another vote from me!

[2015-06-24 04:36] ZacCranko commented on #49
In keeping with trying not to locate graph algorithms in Quant Econ my plan was to have the core of this code in an algorithm called something like `sink_strongly_connected` in LightGraphs.jl, but I agree regarding the terminology.

[2015-06-24 04:39] spencerlyon2 commented on #49
I think it would be great to have the generic graph theory components in LightGraphs instead of QuantEcon-- partially because I don't know enough about them to sign off on maintaining them going forward :smirk:

[2015-06-24 04:42] ZacCranko commented on #49
You're not missing out on much Spencer, graph algorithms might just be the worst thing ever.

On Wed, Jun 24, 2015 at 2:40 PM, Spencer Lyon <notifications@github.com>
wrote:

[2015-06-24 12:54] spencerlyon2 opened #51 "ENH: re-work lss and Kalman routines"

[2015-06-25 04:05] spencerlyon2 commented on #49
@oyamad good eye on that one.

Changing that line to `p = mc.p .!=0` made all problems go away!

[2015-06-25 04:08] #49 closed

[2015-06-25 04:09] spencerlyon2 commented on #16
closed by #48

[2015-06-25 04:09] #16 closed

[2015-06-25 09:35] jstac commented on #51
@spencerlyon2 Please flag any changes that require corresponding changes in the lectures.

[2015-06-27 03:03] rawls238 commented on #34
@spencerlyon2 awesome! I'll start working on this then

[2015-06-28 05:12] oyamad commented on #32
Hi @sbromberger: I was playing with your `LightGraphs.jl` (`bfsdfs` branch) (to try to implement the algorithm for periodicity), but I found something strange about `LightGraphs.strongly_connected_components`.

I was considering the digraph in Figure 8 on page 12 in "[Graph-Theoretic Analysis of Finite Markov Chains](http://www.ces.clemson.edu/%7Eshierd/Shier/markov.pdf)" by J. P. Jarvis and D. R.

[2015-06-28 12:47] sbromberger commented on #32
@oyamad almost definitely a bug. Could you open an issue in lightgraphs and I'll look into it next week? Thanks.

[2015-06-28 16:15] oyamad commented on #32
@sbromberger Sure, copied.

[2015-06-28 17:29] ranjanan opened #52 "Error message in mc_sample_path"
I receive an error message on using mc_sample_path()

julia> using QuantEcon

julia> P = [0.4 0.6; 0.8 0.2]
2x2 Array{Float64,2}:
 0.4  0.6
 0.8  0.2

julia> P = MarkovChain(P)
Discrete Markov Chain
stochastic matrix:
2x2 Array{Float64,2}:
 0.4  0.6
 0.8  0.2

julia> mc_sample_path(P, [0.5, 0.5], 100000)
ERROR: type cannot be constructed
 in map at abstractarray.jl:1328

I'm using Julia version 0.

[2015-06-29 01:45] ZacCranko commented on #52
Working fine here on v0.3.10, can you try updating Julia then running `Pkg.update()` and see if this still persists?

[2015-06-29 01:54] ZacCranko commented on #32
@oyamad That pdf is a great resource, I'm going to be coding up all the examples to use for tests in `LightGraphs.jl`

[2015-06-29 02:00] oyamad commented on #52
Reproduced the same error message with version 0.3.10 + QuantEcon 0.1.2 (on Mac OS X 10.9.5),
while it works fine with 0.4.0-dev.

[2015-06-29 02:02] ZacCranko commented on #52
@oyamad can you run `Pkg.update()` on your v0.3 since we're calling some things from `Distributions.jl` that I want to exclude as potential causes.

[2015-06-29 02:06] spencerlyon2 commented on #52
Thanks for reporting. I'm considering re-writing this routine anyway as I think we can make it more performant. Implementing an algorithm like what we just did in the numba version (the one with embedded bisection) may be faster than calling out to Categorical from Distributions.jl

[2015-06-29 02:09] oyamad commented on #52
@ZacCranko Got the same error.

[2015-06-29 02:15] ZacCranko commented on #52
I'm unable to reproduce this on v0.3.10 or v0.4.0-dev+5645

[2015-06-29 02:27] spencerlyon2 commented on #52
Scratch my previous comment. I was confusing the new implementation of this algorithm with a different implementation I saw earlier.

I still wouldn't be surprised if using `searchsortedfirst` was more efficient than calling Categorical. Maybe we just write up an implementation and run some benchmarks against the two?

[2015-06-29 13:07] ranjanan commented on #52
@ZacCranko Just as @oyamad said, I'm getting the same error on Julia v0.3.10 on Mac OS X 10.10.3 as well. On a 16 day old master of Julia , I got this error while trying "using QuantEcon"

 using QuantEcon
Warning: New definition
    serialize(Any, DataStructures.HashDict) at /Users/ranjan/.julia/v0.4/DataStructures/src/hashdict.jl:91
is ambiguous with:
    serialize(Base.SerializationState, Any)

[2015-06-29 13:12] spencerlyon2 commented on #52
@ranjanan, I've confirmed the issue on 0.3.9 and 0.3.10 also.

I'm implementing a fix right now.

The issue you just reported in the previous traceback indicates that the `Graphs.jl` package is not up to date for 0.4.

[2015-06-29 13:15] ranjanan commented on #52
Ah I see. Thanks, @spencerlyon2

[2015-06-29 16:59] sbromberger commented on #32
Please checkout the latest `bfsdfs` - I think it's fixed (track https://github.com/JuliaGraphs/LightGraphs.jl/issues/71 for status, and please place feedback there).

[2015-06-29 18:37] spencerlyon2 commented on #52
Closed by #53

[2015-06-29 18:37] #52 closed

[2015-06-29 18:49] ranjanan opened #55 "using QuantEcon results in error"
On Julia 0.4.0-dev master branch which I built right now,

"using QuantEcon" results in the following error

Warning: could not import Base.@math_const into Distributions
ERROR: LoadError: LoadError: LoadError: UndefVarError: @math_const not defined
 in include at ./boot.jl:254
 in include_from_node1 at ./loading.jl:133
 in include at ./boot.jl:254
 in include_from_node1 at ./loading.jl:133
 in re

[2015-06-29 18:51] spencerlyon2 commented on #55
Indeed, that is the difference.

`Base.@math_const` was replaced with `Base.@irreational` [here](https://github.com/JuliaLang/julia/commit/5444813fb8997b22cfa7ac78438d2f4798341152).

I was going to add something to Compat.jl, but I didn't have time.

In the mean time I just changed my local `~/.julia/v0.4/Distributions/src/constants.jl` to reflect the change

[2015-06-29 19:01] ranjanan commented on #55
I see. This was a very recent addition. Shall I close this issue, and file it in Compat.jl? It would be relevant to a bunch of people who're using Compat

[2015-06-29 19:04] spencerlyon2 commented on #55
Yes, I think that would be good. It should be a simple addition to Compat.

The tricky part was that it is a change to an un-exported part of Base. So, I was trying to define the `@irrational` macro within `Base` by calling `eval(Base, SOME_EXPR_MAGIC)`, but I didn't quite figure out the EXPR_MAGIC before my self-alloted time allowance was up.

[2015-06-29 19:04] #55 closed

[2015-06-29 19:04] spencerlyon2 commented on #55
Oh, we should also link an issue in Distributions to the forthcoming issue in Compat, since that is originally where the problem messed us up

[2015-06-29 19:11] ranjanan commented on #55
You're right, it should be notified there too.

[2015-07-01 13:39] oyamad commented on #32
Hi @ZacCranko
I had a look at your PR on periodicity JuliaGraphs/LightGraphs.jl#75 for `LightGraphs.jl`.
Let me write some comments/questions here (tell me if I should write these there in `LightGraphs.jl`).

0. If we want to import all the functionalities from `mc_tools.py` into the Julia side, we will also need [`cyclic_components`](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon

[2015-07-08 07:50] oyamad opened #57 "Makorv chain: Lecture has to be revised"
The line

[code]

in the code box at the end of the [Simulation](http://quant-econ.net/jl/finite_markov.html#simulation) section has to be written as

[code]

(following the change by adbd0db).

[code]

[2015-07-08 13:34] oyamad commented on #57
The same for `mc_compute_stationary`:

[code]

instead of

[code]

[2015-07-08 13:40] oyamad commented on #57
[`finite_mc_solutions.ipynb`](http://nbviewer.ipython.org/github/QuantEcon/QuantEcon.jl/blob/master/solutions/finite_mc_solutions.ipynb) does not work obviously because of the problems above, but also it fails in obtaining `X_bar` and plotting in Exercise 1 because the length of the returned array of `mc_sample_path(mc, init, sample_size )` is `sample_size+1`!

[2015-07-08 14:06] spencerlyon2 commented on #57
The change for the simulation part has been incorporated into the master branch of the lectures: https://github.com/jstac/quant-econ-private/commit/e2c21bb9528c255d742a2b6b41e7fff66ed3c2be

Still need to fix the solutions and the `mc_compute_stationary` example

Thanks @oyamad

[2015-07-08 15:55] spencerlyon2 opened #58 "DOC: write style guide"
We need a style guide so that contributors know what conventions they should follow. We should be sure to include at least:

- spaces after **all** commas (in indexing expressions, tuples, function declarations, function calls)
- Docstring conventions
- No trailing whitespace
- 4 space indentation (no tabs, not 2 or 8 spaces)
- Either 80 or 92 column limit per line (I've always done 80 -- official

[2015-07-08 15:58] spencerlyon2 commented on #58
Also need:

- New line at the end of a file
- Decision regarding where `import` and `using` statements go.

[2015-07-20 17:24] spencerlyon2 commented on #58
Chase doesn't like

[code]

He prefers

[code]

but is too lazy to comment here so his thought is heavily discounted

[2015-07-20 19:06] ZacCranko commented on #58
I'm happy with the first one, since it is a lot more compact than
[code]
and also extremely common in `Base.jl`

[2015-07-21 12:10] spencerlyon2 commented on #32
@ZacCranko  is this now complete?

[2015-07-21 12:13] ZacCranko commented on #32
Yep. For now.

[2015-07-21 12:13] #32 closed

[2015-07-21 17:37] sbromberger commented on #32
Just FYI - with @ZacCranko's help, we've implemented support for self-loops in LightGraphs, so the earlier concerns about having to manipulate the adjacency matrices might now be moot. Please have a look at the latest master branch and let me know (via issues in LightGraphs) if you run into any problems.

@ZacCranko - thanks again. Your work has definitely improved the quality and feature set of L

[2015-07-21 19:24] jstac commented on #57
@oyamad @spencerlyon2 Thanks guys, I've fixed this and I'm just about to upload a new version of the lectures.  The solution notebook still needs to be fixed but I'll do that now.  Closing.

[2015-07-21 19:24] #57 closed

[2015-07-24 14:57] spencerlyon2 opened #61 "TEST: run code from examples/notebooks directories with tests"
This will make sure code that website readers use or read at least runs.

A next step would be to verify accuracy of the results, but that would be more time consuming.

[2015-08-12 01:56] ZacCranko opened #64 "``using QuantEcon`` failing on v0.4"
Anyone know why this is happening with the master branch on v0.4?

[code]

[2015-08-12 02:08] spencerlyon2 commented on #64
Will you give me the output of versioninfo()

[2015-08-12 02:08] ZacCranko commented on #64
[code]

[2015-08-12 02:12] spencerlyon2 commented on #64
I haven't tried on today's master.

Can you load distributions by itself?

[2015-08-12 02:13] ZacCranko commented on #64
I did try that, `Distributions` loads without complaint

[2015-08-12 02:14] spencerlyon2 commented on #64
Hmm.

Have you by chance tried using Base.compile with these packages?

If so maybe try deleting the cache files...

[2015-08-12 02:21] ZacCranko commented on #64
I haven't, this is a completely clean build of Julia that i haven't messed with. Is Travis building v0.4?

[2015-08-12 02:23] spencerlyon2 commented on #64
I don't think we've pushed to master recently enough. Usually nightly builds are a little behind anyway.

That's is quite strange. I guess you could try the nuclear option and delete your whole package directory... I don't have great advice for this thing

[2015-08-12 02:30] ZacCranko commented on #64
Okay so just did `rm -rf ~/.julia/v0.4` then `Pkg.add("QuantEcon")`, bad news still getting the same issue

[code]

[2015-08-12 02:42] spencerlyon2 commented on #64
Hmm not sure.

I tried scanning the commit log for Julia for today and didn't notice anything that would explain this.

Unfortunately I need my Julia to be fully working to do my research so I can't really  hop on the latest master to debug with you.

I suppose I could do it within a docker container or something, do you reckon it's woth it?

[2015-08-12 02:47] ZacCranko commented on #64
I was able to reproduce it with the binary off julialang.org: https://status.julialang.org/download/osx10.7+
so you could grab that and see if its happening for you.

[2015-08-12 02:48] spencerlyon2 commented on #64
Yep. I'll try pretty soon.

We haven't pushed to master to register a build on Travis so I'm not sure

[2015-08-12 03:39] spencerlyon2 commented on #64
I did have the same problems with the binary.

Doing

[code]

Then

[code]

fixed it for me.

I did have to move to the master version of Docile.jl and I was already on the master of distributions (not sure if being on Distributions master is necessary).

[2015-08-12 03:40] ZacCranko commented on #64
What was the problem?

[2015-08-12 03:40] spencerlyon2 commented on #64
not sure...

Somehow forcing a cached version of Distributions and allowing using QuantEcon to call that instead of load at "`using`-time" made it work.

Can you verify that it fixes your issue?

[2015-08-12 04:07] ZacCranko commented on #64
Okay fixed. So ``rm -rf ~/.julia/lib `` followed by  ``Base.compilecache(:Distributions)`` did the trick.  ``Base.compilecache(:QuantEcon)`` was not necessary. It's slightly concerning that this is necessary, I bet it's `Distributions.jl`'s falt.

[2015-08-12 04:07] #64 closed

[2015-08-12 04:08] spencerlyon2 commented on #64
Not sure... Just sounds like life on the bleeding edge to me

[2015-08-14 19:49] nilshg opened #65 "LoadErrors in 0.4"
I ran into [this issue](https://groups.google.com/forum/#!topic/julia-users/OGOHItbHC6c) today while trying to run some code in 0.4. I don't really have an idea what's going on, and unfortunately no time to look into it now, but I still thought I'd mention it here.

[2015-08-15 12:03] nilshg commented on #65
Apologies, should have checked the issues more thoroughly before opening this one - it seems to be a duplicate of #64.

[2015-08-15 12:03] #65 closed

[2015-08-15 14:13] spencerlyon2 commented on #65
No problem. Hopefully the solution from #64 helps you get things running on your machine!

[2015-08-16 03:05] vtjnash commented on #64
This is https://github.com/JuliaLang/julia/issues/12586

[2015-08-16 04:06] spencerlyon2 opened #66 "BUG: rename src/distributions.jl"
I think that #64 is hitting  JuliaLang/julia#12586 and can be avoided if we simply don't use the name `src/distributions.jl` for holding the `BetaBinomial` type.

[2015-08-16 04:08] ZacCranko commented on #66
While we're on the topic, is it possible to get that stuff located in the Distributions.jl package?

[2015-08-16 04:11] spencerlyon2 commented on #66
That would be the best long run option and what I initially intended to do.

Since implementing the bare-bones stuff that currently sits in that file, I haven't found the time to flesh out all the methods listed in the [common interface spec](http://distributionsjl.readthedocs.org/en/latest/univariate.html#common-interface) for all the distributions. Once that happens we should definitely move thi

[2015-08-16 04:13] ZacCranko commented on #66
I'm on my phone right now and walking through a park, but could you open that as an issue so we don't forget about it?

On Sun, Aug 16, 2015 at 2:11 PM, Spencer Lyon <notifications@github.com>
wrote:

[2015-08-16 04:15] spencerlyon2 opened #67 "ENH: move BetaBinomial to Distributions.jl"
We really don't need to define this distribution here.

It would be far better to have this in Distributions.jl

Before this can be down we need to fill in [these methods](http://distributionsjl.readthedocs.org/en/latest/univariate.html#common-interface).

It is highly likely that we only need to define a subset of them and the rest will be filled in via dispatch on an abstract type.

We should co

[2015-08-16 07:22] tkelman commented on #64
slash 9079 slash 4600... we need to fix that

[2015-08-17 12:23] #66 closed

[2015-08-24 11:14] nilshg opened #69 "Docstring causes LoadErrors in 0.4"
When `using QuantEcon` in my current 0.4.0 build, I'm getting
[code]
This seems to be caused by [line 145 in mc_tools.jl](https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/mc_tools.jl#L145), simply commenting out this line fixes it for me (but probably breaks part of the documentation).

I've never written any documentation in Julia, so I don't have any idea what the problem is and how to

[2015-08-24 14:58] #69 closed

[2015-08-24 14:59] spencerlyon2 commented on #69
Thanks. I've been meaning to resolve this.

Just implemented.

[2015-08-27 01:07] dbrowne opened #70 "ERROR: LoadError: LoadError: Invalid doc expression [eigen_solve,lu_solve,gth_solve]"
Julia Version 0.4.0-dev+7018
Commit b6a0241* (2015-08-27 00:03 UTC)
Platform Info:
  System: Darwin (x86_64-apple-darwin14.4.0)
  BLAS: libopenblas (USE64BITINT DYNAMIC_ARCH NO_AFFINITY Haswell)
  LAPACK: libopenblas
  LIBM: libopenlibm
  LLVM: libLLVM-3.3

julia> using QuantEcon
ERROR: LoadError: LoadError: Invalid doc expression [eigen_solve,lu_solve,gth_solve]
 in include at ./boot.jl:259
 in i

[2015-08-27 01:09] spencerlyon2 commented on #70
Thanks for the heads up. Are you using the latest released version of the package?

I think this has been resolved in master, but we haven't done a release since it was fixed.

[2015-08-27 01:16] spencerlyon2 commented on #70
If you can confirm that you are on the latest release instead of having done Pkg.checkout on this package I'll make a new release

[2015-08-27 02:12] dbrowne commented on #70
Issue resolved.  Thanks

[2015-08-27 02:12] #70 closed

[2015-08-27 02:13] spencerlyon2 commented on #70
No problem. I'll make a new release so others don't have this problem also

[2015-09-04 08:39] nilshg commented on #13
Not sure this is helpful, as I haven't gone through the exact problem you want to parallelize, but I've written a parallel version of a simple finite life-cycle model which is being solved recursively [here](https://github.com/nilshg/LearningModels/blob/master/NHL/NHL_6_Bellman.jl).

The basic idea is just to have an `Array{Float64,N}` each for value and policy functions, where `N` is the number o

[2015-09-04 12:48] spencerlyon2 commented on #13
Hey @nilshg this is great! Thanks for sharing.

Do you have a working version of this algorithm/implementation somewhere publicly visible?

[2015-09-04 13:14] nilshg commented on #13
Yes, as part of my thesis I'm replicating [Guvenen (AER, 2007)](https://www.aeaweb.org/articles.php?doi=10.1257/aer.97.3.687), and my implementation is in the [LearningModels](https://github.com/nilshg/LearningModels) repository.

It's not quite there in terms of actually replicating the results, but it's a working version in the sense that if you unzip the repo, open the `NHL/NHL_0_JuliaCode.jl`

[2015-09-04 13:16] jstac commented on #13
I think these are exactly the kind of parallelization routines we want to start adding to QuantEcon, with shared memory rather than clusters: Routines that can take advantage of multiple cores and up-spec machines without having to put a lot of effort into custom code.  On the Python side, the [discrete DP](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/markov/ddp.py) code that @o

[2015-09-04 23:22] Ken-B commented on #58
In case you haven't seen it yet, John Myles White has a quite extensive style guide for Julia: https://github.com/johnmyleswhite/Style.jl

You might take some inspiration from it (I tend to use almost all). He is an 80 column wide guy, though ;-)

[2015-09-07 12:47] spencerlyon2 commented on #58
Thanks for reminding me about this. I think my guidelines will be pretty similar to John's.

I've got about 1/3-1/2 of it written up [here](https://github.com/QuantEcon/QuantEcon.jl/blob/sl/styleguide/docs/style_guide.md)

[2015-10-04 00:43] rawls238 commented on #67
I've started doing this here: https://github.com/JuliaStats/Distributions.jl/pull/422

[2015-10-04 00:44] rawls238 commented on #34
Started doing this but got distracted by other stuff...hopefully will have this done sometime in the next couple weeks

[2015-10-04 02:18] spencerlyon2 commented on #67
Great, thank you!

[2015-10-04 02:18] spencerlyon2 commented on #34
No problem.

Thanks for the update.

[2015-10-31 18:54] spencerlyon2 opened #75 "Question: remove eigen and lu methods for stationary distribution?"
I was looking over our coverage results and noticed that we don't test `lu_solve` or `eigen_solve` at all.

Is the `gth_solve` algorithm strictly better? If so, I would vote to remove the other two algorithms entirely.

cc: @oyamad @ZacCranko

[2015-11-01 04:27] oyamad commented on #75
`gth_solve` should be strictly better at least in terms accuracy.
You might try the following example, for `e = 1e-12` through `1e-17` for example:

[code]

Analytically the unique stationary distribution is `(1/3, 1/3, 1/3)` for any value of `e`.

[2015-11-01 04:48] ZacCranko commented on #75
What ever you guys want to do. I thought I included tests for these at one point. Apparently not!

[2015-12-02 16:38] cc7768 opened #81 "Delete Old Branches"
We have a lot of old branches. Not sure which ones can be deleted, but would love to clean it out. Any branches that we should leave alone (besides any that are in a PR)?

[2015-12-02 17:27] mmcky commented on #81
Good idea - probably worth doing across all repos.

[2015-12-16 19:39] mmcky commented on #81
@cc7768 Can this be closed?
Spencer has cleaned up the branches.

[2015-12-16 19:43] mmcky opened #83 "Some Projects that are Available for Future Work"
Some topics that are available to be worked on

Code Library
------------------
  - [ ] Improve ``DiscreteDP`` code by porting State-Action Pair Formulation of Python code to Julia
  - [ ] Improve ``DiscreteDP`` code by porting Sparse Matrix Support from Python to Julia

Infrastructure
------------------
  - [ ] Improve testing infrastructure by running Julia notebooks and checking for any runtime

[2015-12-16 20:17] cc7768 commented on #81
I'm happy for this to be closed whenever the group feels it is clean. It looks good to me.

[2015-12-16 20:38] #81 closed

[2015-12-22 16:20] mmcky opened #84 "Location for code within Package: markov_approx.jl"
I came across this due to a broken link in the lecture site.

Should ``src/markov_approx.jl`` be located in the ``markov`` folder?

[2016-01-02 14:28] albep commented on #83
I should've fixed the issue in ddp_theory_jl.ipynb. The only other Julia notebook is ddp_ex_job_search_jl.ipynb but I don't see errors there. Are there other notebooks with errors?

[2016-01-04 15:15] mmcky commented on #83
thanks @albep for the update. I will review and merge your PR today. There are some python notebooks that also need to be ported to Julia. For example:

https://github.com/QuantEcon/QuantEcon.applications/blob/master/discrete_dp/discrete_dp_solutions_py.ipynb

needs to be ported to ``julia`` so that we can post a DiscreteDP lecture for the Julia side of the website.

[2016-01-04 15:23] cc7768 opened #87 "New `meshgrid` method?"
Thoughts started by: https://groups.google.com/forum/?utm_medium=email&utm_source=footer#!topic/quantecon/AQzUAsLFxFA

Often when I (and probably others) am calling `meshgrid`, the arguments that I would like to pass in are `LinSpace` types. I typically just use `collect` and pass them in. Would it make sense for us to write an additional method that takes arguments that are linspaces and simply c

[2016-01-04 15:26] spencerlyon2 commented on #87
Yes, I think we should have a method that accepts two arbitrary `AbstractVector`s and collects them before handing off to the other method.

[2016-01-04 15:28] spencerlyon2 commented on #87
Actually,  it might be that the current method works if we just change the argument types to `AbstractVector` .

Either way, I'm in favor of a change here

[2016-01-04 15:29] cc7768 commented on #87
That did work. Submitting PR now.

[2016-01-04 15:52] spencerlyon2 opened #89 "Move to new Base.Test framework"
Right now we are using `FactCheck.jl` mainly to group tests.

On 0.5-dev we can now use `@testset` to accomplish this.

On 0.4 we can use the `BaseTestNext.jl` library to use the new 0.5 `Base.Test` module.

See [here](https://github.com/EconForge/NLsolve.jl/blob/master/test/runtests.jl#L3-L8) for an example of how to do this

[2016-01-05 13:28] albep commented on #83
@mmcky That sounds good, I'll start working on porting the notebooks

[2016-01-05 13:44] jstac commented on #83
Thanks @albep .  If you step through the Julia lectures you might find others that are missing solution notebooks.

@mmcky Thanks for organizing.

[2016-01-08 19:01] spencerlyon2 opened #90 "Update docs"
Docs are pretty old.

They still talk about the models

[2016-01-10 18:36] rawls238 commented on #67
The PR has been merged, will update the use of it in this repo once the new version is pushed. You may find the discussion in the PR interesting since it points to some imprecision issues with the `pdf` function

[2016-01-11 15:23] #67 closed

[2016-01-12 03:36] #89 closed

[2016-01-12 07:02] #87 closed

[2016-01-23 22:31] albep commented on #83
I've implemented the State-Action Pair Formulation in ddp.jl. I've also tested it a bit and, for instance, it matches the results in this notebook: https://github.com/QuantEcon/QuantEcon.applications/blob/master/discrete_dp/discrete_dp_solutions_py.ipynb

I'm sure someone more proficient than me with Julia can polish it, but it could be a starting point. Before I start implementing Sparse Matrix S

[2016-01-23 22:45] spencerlyon2 commented on #83
Good work!

Let's open up a pull request and I'll look at it. Thanks

// Spencer
On Jan 23, 2016 5:31 PM, "albep" <notifications@github.com> wrote:

[2016-02-09 21:52] spencerlyon2 opened #97 "Support sparse transition matrix in `MarkovChain`"

[2016-02-11 13:17] spencerlyon2 opened #98 "Clean out dependencies"
I don't believe, but would have to verify, that we use either `Grid` or `Optim` anymore.

[2016-02-22 18:55] spencerlyon2 commented on #11
ifp.jl is not in repo anymore

[2016-02-22 18:55] #11 closed

[2016-02-22 18:55] spencerlyon2 commented on #4
jv.jl is not in repo anymore

[2016-02-22 18:55] #4 closed

[2016-03-01 16:10] caimichael commented on #90
Just spoke with Matt, since I'm in his class! I'd like to help.

[2016-03-07 12:55] spencerlyon2 commented on #90
That's great. Please let me know how you can and want to help

[2016-03-09 03:38] Dawny33 commented on #83
I would like to help with code porting from Python to Julia.

So, if they aren't already being worked upon, I'd be up for it!

[2016-03-09 05:06] spencerlyon2 commented on #83
Glad you want to help out! right now I don't think there are any open issues for things that need to be ported from Python to Julia.

@QuantEcon/lead-developers  can anyone else think of one that I'm missing?

That being said there's plenty of work to be done if you are interested in helping out.

[2016-03-09 05:26] oyamad commented on #83
[`cyclic_classes`](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/markov/core.py#L250-L257) is missing for `MarkovChain`. The task will be to port the [`cyclic_classes`](https://github.com/QuantEcon/QuantEcon.py/blob/master/quantecon/graph_tools.py#L258-L264) method of `DiGraph` to Julia (and perhaps include it in [LightGraphs.jl](https://github.com/JuliaGraphs/LightGraphs.jl)) an

[2016-03-09 15:42] thomassargent30 commented on #83
Dear Spencer,   what about the lectures on optimal taxes with incomplete
markets?  Tom
On Mar 8, 2016 23:06, "Spencer Lyon" <notifications@github.com> wrote:

[2016-03-10 13:22] spencerlyon2 commented on #83
Dear Tom,

Yes this is a great idea! I had forgotten about the lecture material.

I quickly compared the table of contents on the Python side to the Julia side and saw that we are missing the following lectures on the Julia side:

- The lake model ([python code here](https://github.com/QuantEcon/QuantEcon.applications/tree/master/lake_model))
- "Adding bling" to the growth model ([python code here

[2016-03-10 14:01] jstac commented on #83
@spencerlyon2 Thanks, this is a helpful list.

@Dawny33 Pease do feel free to tackle any of these. Note that the relevant repo for development and PRs is for the most part [QuantEcon.applications](https://github.com/QuantEcon/QuantEcon.applications) rather than this one.

[2016-03-10 17:46] Dawny33 commented on #83
@spencerlyon2 Wow thank you, that's a long list!  Would love to work on some of them!

@jstac Noted. Thanks for the heads-up!

[2016-03-14 13:59] spencerlyon2 commented on #97
Implemented in #99

[2016-03-14 13:59] #97 closed

[2016-03-14 13:59] spencerlyon2 commented on #84
Implemented in #99. See discussion there

[2016-03-14 13:59] #84 closed

[2016-03-14 13:59] spencerlyon2 commented on #75
Implemented in #99 see discussion there

[2016-03-14 13:59] #75 closed

[2016-03-17 06:58] Dawny33 opened #101 "#People link in Readme redirecting to broken HTML site"
- [People Link](http://quantecon.org/about/#people)
- [Lead Developers Link](http://quantecon.org/about/#people)

And as both link to the same url, one can be removed.

[2016-03-17 14:31] spencerlyon2 opened #102 "random_stochastic_matrix and random_markov_chain support sparse output"
This might look like this:

[code]

Also, having `Union{Int,Void}` shouldn't be necessary here as it is in python because default arguments can depend on one another. (e.g. `def f(n, k=n):`  is n't possible in python but `function f(n, k=n)` is possible in Julia)

[2016-03-17 21:17] oyamad opened #103 "Drop `num_actions` from DiscreteDP"
As in the Python version QuantEcon/QuantEcon.py#236.

[2016-03-24 14:00] #101 closed

[2016-03-24 14:03] spencerlyon2 commented on #101
Done, thank you for reporting!

[2016-03-28 18:24] spencerlyon2 commented on #90
Updated to match current state of the library, but could use an overhaul.

Right now they don't offer much in terms of exposition and are mostly just an aggregation of docstrings

[2016-03-28 18:24] #90 closed

[2016-03-28 18:25] spencerlyon2 commented on #98
done

[2016-03-28 18:25] #98 closed

[2016-04-12 15:16] ArnavSood commented on #83
@jstac @mmcky I'd be happy to bite off whatever I can chew. You guys have some familiarity with what I can do, so let me know where (if anywhere) I might be helpful.

[2016-04-12 17:53] jstac commented on #83
Help is definitely appreciated.

I suggest that you take more time to read through the library first, trying different parts, experimenting, looking at everyone's code.   Try to pick up their style of coding.  Maybe have a look at the tests and see if you can improve them.  Improving tests and documentation is a good place to start.

[2016-04-12 23:08] ArnavSood commented on #83
@jstac Sounds good. I'll start getting myself acquainted with the code.

[2016-04-15 15:54] spencerlyon2 opened #106 "Add docstrings to functions in src/util.jl"

[2016-04-15 15:55] spencerlyon2 commented on #51
Just a reminder that this needs to be done, especially since the changes that have happened on the python side.

ref #105

[2016-04-25 20:27] jstac opened #108 "QuantEcon failing to load on Ubuntu LTS 16.04"
This is what I'm getting.  It's actually been failing for a few days, and since before I upgraded to LTS 16.04.

Julia is Version 0.4.5 (2016-03-18 00:58 UTC), downloaded as a PPA.

[code]

[2016-04-25 20:58] spencerlyon2 commented on #108
sometimes `Blosc` has given people issues on ubuntu.

Can you try `Pkg.build("Blosc"); using Blosc` in a fresh Julia session and post the output?

[2016-04-25 20:58] spencerlyon2 commented on #108
On second thought. I actually think we should publish another release of QuantEcon.jl as I believe Blosc is no longer a dependency

[2016-04-25 21:02] spencerlyon2 commented on #108
Ok so I was wrong, the latest released version does not have HDF5 or Blosc as a dependency. So these error shouldn't be coming up.

If you cd into the repo `~/.julia/v0.4/QuantEcon` does `git status` say the repo is clean or has changes. If it has changes you probably aren't getting the most recent QuantEcon.jl. We should clean out your local copy of the repo so you can be on the latest release.

[2016-04-25 21:08] jstac commented on #108
Running `git status` gives

[code]

I've tried removing and reinstalling.  I'll try again.

[2016-04-25 21:13] jstac commented on #108
Blosc:

[code]

[2016-04-25 21:13] spencerlyon2 commented on #108
Excellent. I've seen this one.

@cc7768 might know a magic trick to get around this one...

[2016-04-25 22:19] cc7768 commented on #108
`Blosc` problem probably has to do with `BinDeps`. My typical fix to this is to go into the `BinDeps/src/BinDeps.jl` and change `downloadcmd = nothing` to `downloadcmd = :wget`. Try this and let me know whether it works.

[2016-04-26 07:46] albop commented on #108
This last one is probably related to bug: https://github.com/JuliaWeb/MbedTLS.jl/issues/10 . It is apparently related to where the distribution (Ubuntu I guess) stores its certificates. Another fix, without touching julia sources is:
`echo "cacert=/etc/ssl/certs/ca-certificates.crt" > ~/.curlrc`

[2016-04-26 12:16] spencerlyon2 commented on #108
Thanks @cc7768

And yes, thank you @albop. That's the fix I had in mind.

[2016-04-26 12:49] jstac commented on #108
@spencerlyon2 @cc7768 @albop Thanks guys.  I used @albop 's fix.  Blosc builds and QuantEcon loads, albeit with a bunch of warnings.

Anything we can do for other users?  Do we need a message here:

http://quant-econ.net/jl/getting_started.html#the-quantecon-library

or here:

http://quantecon.org/julia_index.html

[2016-04-26 12:52] spencerlyon2 commented on #108
I don't see any warnings when build/load quantecon. Can you post what you're seeing?

Some instructions might be helpful.

We really need to do an overhaul of the qe.jl docs. They are really out of date and should probably have a users' guide component in addition to the docstring generated API docs we have right now.

[2016-04-26 13:12] jstac commented on #108
Very happy to devote resources to such things over summer, assuming our coffers are replenished.  (We'll know the outcome of the application in mid June but I would say the probability is above 80%.)   Even better if you can recruit suitable people and run that show.

Here's  my output:

[code]

[2016-04-26 13:15] spencerlyon2 commented on #108
That'd be great! Let's be on the lookout for people to work on that.

That's really strange that you are seeing those warnings as Combinatorics.jl is a new julia 0.5 only package. It simply contains the combinatorics pieces that are in the julia 0.4 standard library that were split out into their own package. According to the [REQUIRE](https://github.com/JuliaLang/Combinatorics.jl/blob/15a86147542

[2016-04-29 12:57] #106 closed

[2016-05-02 03:49] oyamad commented on #108
I got similar warnings on OS X:

[code]

[code]

[2016-05-18 15:04] cc7768 commented on #108
Are people still running into problems? I think @spencerlyon2 made the changes needed to remove errors and warnings.

[2016-05-18 15:21] jstac commented on #108
I'm fine, although I used Pablo's fix earlier.

But in that case why don't we close and reopen if people report further problems?

[2016-05-18 20:15] jstac opened #111 "Outdated info in docs"
Some outdated info about models on this page:

http://quantecon.github.io/QuantEcon.jl/

Also, the link "exercises solutions" is broken.

[2016-05-18 23:54] jstac commented on #108
Still having problems.  Just did ``Pkg.update()`` and ``using QuantEcon`` produces

[code]

Here's version info

[code]

[2016-05-19 04:28] oyamad commented on #108
Regarding the warnings on my OS X, `using QuantEcon` no longer generates them after `Pkg.update()`.
(`Combinatorics` disappeared from `Pkg.status()`.)

[2016-05-19 18:23] spencerlyon2 commented on #111
The docs definitely need a good overhaul.

I'll mark this as up for grabs as it would take anyone just a couple hours to get it in place.

[2016-05-20 18:51] spencerlyon2 opened #112 "Move in some numerical tools"
I have a growing collection of numerical tools, many of which can be found in spencerlyon2/CompEcon.jl

What is the team's position on including them here? Should we move the polished/tested ones into QuantEcon.jl?

Motivation for this is partly spencerlyon2/CompEcon.jl#26

cc @davidanthoff

[2016-06-02 22:17] jstac commented on #112
@spencerlyon2 I think yes.  @cc7768 Perhaps we could walk through some of this on Monday when we meet.

[2016-07-05 10:18] MaximilianJHuber opened #113 "Notebooks using DiscreteDP type"
Hi,

I fell in love with Julia only last week and started learning it due to performance reasons when doing discrete dynamic programming (I used to code in Matlab and R).

So far I am missing notebooks using the discreteDP type and appropriate functions.
If you think it is a good idea to port the Python notebook [Discrete Dynamic Programming](http://quant-econ.net/py/discrete_dp.html) and maybe la

[2016-07-05 12:38] spencerlyon2 commented on #113
HI @MaximilianJHuber

Contributions of this kind are very welcome.

I see that you have closed the issue. If you are still willing to work on it let us know and we can try to help you get started.

Thanks again

[2016-07-05 12:38] spencerlyon2 commented on #113
HI @MaximilianJHuber

Contributions of this kind are very welcome.

I see that you have closed the issue. If you are still willing to work on it let us know and we can try to help you get started.

Thanks again

[2016-07-06 06:12] MaximilianJHuber commented on #113
Sure! I closed because issue 83 has this covered.

[2016-07-06 14:07] oyamad opened #114 "MAT is not automatically installed"
Although it is listed in test/REQUIRE.

[2016-07-06 14:09] spencerlyon2 commented on #114
The Julia testing system will install and un-install all packages in `test/REQUIRE` when you do `Pkg.test("QuantEcon")`.

This means that the package won't remain in your Julia install unless you add it on your own.

[2016-07-06 14:09] #114 closed

[2016-07-06 14:14] oyamad commented on #114
I see, thanks. (I did `julia runtest.jl mc_tools`; in this case I need to manually install it, right?)

[2016-07-06 14:15] spencerlyon2 commented on #114
Yeah, that’s exactly right. It isn’t the most convenient, but it is nice to
be able to specify dependencies that only developers need for testing
purposes.

// Spencer

On July 6, 2016 at 3:14:56 PM, Daisuke Oyama (notifications@github.com)
wrote:

I see, thanks. (I did julia runtest.jl mc_tools; in this case I need to
manually install it, right?)

—
You are receiving this because you modified the

[2016-07-06 14:41] spencerlyon2 commented on #113
Ahh, I see. Thanks for doing that.

Given that #83 is more of a collection of things, rather than discussion for specific topics I think I'll reopen this issue and make a note over in #83 that we are working on it here.

Do you already have an idea of what you would like to do to get started? If so, please go ahead and start when you can and make sure to ask if you have any questions. If you would

[2016-07-06 14:50] spencerlyon2 commented on #61
we don't have examples/notebooks anymore :)

[2016-07-06 14:50] #61 closed

[2016-07-08 23:09] spencerlyon2 commented on #113
Hey @MaximilianJHuber  thanks for doing that.

Due to copyright restrictions the source for the lectures must remain private. Once the updates you have been working on are finished and merged into the appropriate repositories we will make sure to update the lecture also.  (cc @jstac)

Looking forward to seeing your code!

[2016-07-09 08:17] MaximilianJHuber commented on #113
I see. You can find the code for the example in the lecture [here](http://nbviewer.jupyter.org/github/MaximilianJHuber/DDP/blob/master/discrete-dp-v3.ipynb). I would be very happy about comments!

Also, I coded the [first part](http://nbviewer.jupyter.org/github/MaximilianJHuber/DDP/blob/master/discrete-dp-ex.ipynb) of the exercise. Either JuliaBox performance is bad, my code is bad, or there is s

[2016-07-09 12:13] oyamad opened #117 "DiscreteDP: Should not modify s_indices and a_indices when sorting"
[code]

One cannot reuse `s_indices` and `a_indices`:

[code]

[2016-07-09 12:42] oyamad commented on #113
@MaximilianJHuber Thanks for your work!

I ran your notebook, and the constructor did work in my environment, which took 15 seconds. And `solve(ddp, PFI)` took more than 10 minutes (I tried it only once). You code does not seem to have any problem. I am afraid the ddp.jl code has not been optimized.

As for the Python version, did you try installing Anaconda? (You might look at [this page](http://

[2016-07-09 20:37] spencerlyon2 commented on #117
cc @albep

[2016-07-10 07:37] MaximilianJHuber opened #118 "DiscreteDP Performance"
DiscreteDP performance might be bad in the Julia version.

For example, this Python [code](http://nbviewer.jupyter.org/github/MaximilianJHuber/DDP/blob/master/discrete-dp-ex-py.ipynb) runs 220 times faster (local 2x2.66GHZ, 4 GB machine) than this Julia [code](http://nbviewer.jupyter.org/github/MaximilianJHuber/DDP/blob/master/discrete-dp-ex.ipynb). (The task is described [here](http://nbviewer.ju

[2016-07-10 07:40] MaximilianJHuber commented on #113
I managed to install Anaconda and Julia locally (2.66GHZ, 4GB RAM) and ran both notebooks with **grid_size=500**. The Julia version took repeatedly about 11s, the Python version about 50ms.
I opend a new issue  #118.
I will read Sengupta's "Julia High Performance" first, maybe I can then contribute to this problem.

Anyway, I will finish up the solution to the exercise in the next days.

[2016-07-10 12:17] oyamad opened #119 "MarkovChain: state_values related"
1. Change
   - (`simulate`, `simulate_values`) to (`simulate_indices`, `simulate`)
   - (`simulation`, `value_simulation`) to (`simulation_indices`, `simulation`)?
2. For the new `simulate` (current `simulate_values`), `init` should be specified as a state value, not index. Need a method to return the index in `state_values` given a state value (for the Python version, see https://github.com/Quant

[2016-07-10 12:19] oyamad opened #120 "DiscreteDP: Add state_values, action_values"
Cf. QuantEcon/QuantEcon.py#248

[2016-07-10 12:21] oyamad opened #121 "MarkovChain: cyclic_classes missing"
See https://github.com/QuantEcon/QuantEcon.jl/issues/83#issuecomment-194118727.

[2016-07-11 07:36] spencerlyon2 commented on #113
I haven't checked so I can't be sure, but I would imagine the problem is related to type instability at an "outer" level of the algorithm that causes all inner routines to be inefficient.

One would check by trying `@code_warntype func(args...)` for all `func` that is called when you use one of these DiscreteDP solution routines.

[2016-07-11 16:53] albep commented on #117
@oyamad thanks for pointing that out. PR #122 fixes that, I tried it with your example

[2016-07-12 08:57] MaximilianJHuber commented on #118
Profiling the "solve"-function suggests nothing unusual:
![bildschirmfoto 2016-07-11 um 19 15 27](https://cloud.githubusercontent.com/assets/6653641/16759166/ed38380c-4815-11e6-8b13-6a2aa187e44e.png)

BUT: line 319 and 380 in ddp.jl have:
` vals = ddp.R + ddp.beta * ddp.Q * v`
but really should be:
` vals = ddp.R + ddp.beta * (ddp.Q * v)`.
Runtime drops by a factor of 6 and memory allocations drop

[2016-07-12 09:08] spencerlyon2 commented on #118
Great sleuthing! This makes perfect sense!

Do you mind putting that change in a pull request?

[2016-07-12 09:14] MaximilianJHuber commented on #113
@spencerlyon2 definitly a good idea! Meanwhile, I proposed a possible improvement in issue #118.

Both the [example](http://nbviewer.jupyter.org/github/MaximilianJHuber/DDP/blob/master/discrete-dp-v3.ipynb) and the [exercise](http://nbviewer.jupyter.org/github/MaximilianJHuber/DDP/blob/master/discrete-dp-ex.ipynb) related to the Python lecture [Discrete Dynamic Programming](http://quant-econ.net/p

[2016-07-12 09:47] MaximilianJHuber commented on #118
I did not know what that means 30 minutes ago, but I hope I did the right thing!

[2016-07-12 12:03] MaximilianJHuber commented on #118
A new performance test with the altered matrix multiplication yielded:
constructor `0.773396 seconds (2.02 k allocations: 466.133 MB, 2.01% gc time)
`
solve `1.922052 seconds (616 allocations: 108.402 MB, 1.30% gc time)`

While Python has:
constructor `CPU times: user 103 ms, sys: 8.35 ms, total: 112 ms`
solve `CPU times: user 56.5 ms, sys: 2.05 ms, total: 58.5 ms`

So the issue remains open.

[2016-07-12 13:55] oyamad opened #124 "Efficient memory ordering for DiscreteDP"
(This is to summarize my comments https://github.com/QuantEcon/QuantEcon.jl/pull/109#issuecomment-216474996, https://github.com/QuantEcon/QuantEcon.jl/pull/109#issuecomment-216727212, https://github.com/QuantEcon/QuantEcon.jl/pull/109#issuecomment-216764154.)

* `n`: number of states
* `m`: number of actions (Assume it is constant over the states)

Consider `bellman_operator`, where we compute

*

[2016-07-12 21:34] spencerlyon2 commented on #124
This was very helpful, thank you for summarizing here.

From the very last statement, it sounds like in Julia we need to order `Q(s', a, s)` and in python we would need to order it `Q(s, a, s')`. Do you agree?

[2016-07-13 01:10] oyamad commented on #124
Yes, that's my opinion.

[2016-07-13 12:47] oyamad opened #125 "MarkovChain: Respect sparsity"
In the current implementation of `MarkovChain`, if the input is a sparse matrix, it is converted to dense in `simulation` methods. The following is a possible approach to keeping sparsity of the input matrix.

[code]

In the constructor of `SparseMarkovChain`, create `rowptr`, `colval`, and `nzval` from the input `SparseMatrixCSC` by using `csr2csc` from [SparseMatrices.jl](https://github.com/Juli

[2016-07-13 13:15] MaximilianJHuber commented on #118
Further profiling points to linear algebra to be the most expensive type of operation, for both PFI: ![untitled](https://cloud.githubusercontent.com/assets/6653641/16803570/629506f6-4907-11e6-9f58-63a843923f4a.png)
and VFI:
![untitled](https://cloud.githubusercontent.com/assets/6653641/16804040/0c4fec36-490a-11e6-9f4b-20ddb828eda1.png)

@oyamad I saw you are working on a number of memory/performan

[2016-07-13 18:28] spencerlyon2 commented on #125
@oyamad interesting proposal. I would really like to be able to preserve the sparsity of the chain when simulating.

I've done a bit more work with SparseMatrices.jl that I don't believe I have published. I would love to be able to flesh that project out a bit more, but I simply haven't had the time.

I think the proposed extension to DiscreteRV sounds good. I'd move the `pdf::Nullable` field to t

[2016-07-14 20:57] robertdkirkby commented on #118
You will probably want to be careful about making Q sparse without first having some kind of check as to whether a sparse matrix is appropriate. I won't claim to know much about sparse matrices but I imagine this is easy enough to check.

There are many economic applications (eg., markov has two states, employment and unemployment or recession and boom, and Q is transition between these, as eg. Im

[2016-07-15 08:47] MaximilianJHuber commented on #118
Ok, that is true. The user must decide.

I gave it a try and altered line 51 in ddp from: `Q::Array{T,NQ}` to `Q::AbscractArray{T,NQ}` (I know that is quick and dirty, because composite types should have concrete types a fields!)
and line 87 from `new(R, full(Q), beta, _a_indices, a_indptr)` to `new(R, Q, beta, _a_indices, a_indptr)`

Then the constructor allocates for grid_size=500 only 12 MB ins

[2016-07-15 11:33] oyamad commented on #118
I guess that once we decide on the internal data structure (visit #124 to join the discussion), it should be straightforward to implement methods that preserve the sparsity of the input matrix.

[2016-07-16 13:42] oyamad commented on #119
`simulate_values!(mc::MarkovChain, init_state::Vector{Int}, X::Matrix)` currently works as follows:

[code]

It should be better to fill `X[1, :]` with the initial state values.

[2016-07-19 21:41] jstac opened #131 "Feature request: standard econ filters/smoothers"
I don't think there are any packages in Julia that implement nice versions of the standard filters used in econ, like the HP filter.   See, e.g., time series filters here:

http://statsmodels.sourceforge.net/stable/tsa.html#time-series-filters

This is another important filter, for seasonal adjustment:

https://www.census.gov/srd/www/x13as/x13down_unix.html

In Python and R there are wrappers:

ht

[2016-07-20 03:26] jstac commented on #119
@oyamad I'm confused.  What's the difference between `simulation` and `simulate`?   It seems confusing to have both for instances of `MarkovChain`.

[2016-07-20 03:42] oyamad commented on #119
`simulation` returns a `Vector`, while `simulate` returns a `Matrix` (even when num_reps=1) (https://github.com/QuantEcon/QuantEcon.jl/pull/99#issuecomment-197412344). I agree it can be confusing, but I have no good idea for alternatives.

[2016-07-20 04:05] jstac commented on #119
Thanks.  I guess I knew that and forgot.  Let's open this up to discussion.

First, I like @oyamad 's plan to unify names with what we have in Python.  The Python conventions are simple and clear.  In Python we only have `simulate` and `simulate_indices`, each of which generate a single time series.  So my preference is:

1. Change (`simulate`, `simulate_values`) to (`simulate_indices`, `simulate`

[2016-07-20 04:15] oyamad commented on #119
To clarify, in the Python version, `simulate` (and `simulate_indices`) returns a 1d array if `num_reps` is not supplied, and a 2d array otherwise (http://quanteconpy.readthedocs.io/en/latest/markov/core.html#quantecon.markov.core.MarkovChain.simulate). We need a clever idea if we want to follow this in the Julia side with one function name while keeping type stability.

[2016-07-20 05:08] jstac commented on #119
I see.

How about `simulate` gives a single chain and returns a 1d array, while `simulate_panel` generates a 2d "panel"?

(This corresponds to the meaning of panel data)

Similarly, `simulate_indices` gives indices in 1d, while `simulate_panel_indicies` gives the 2d version?

[2016-07-20 05:19] robertdkirkby commented on #131
Sébastian Villemot  @sebastien-villemot wrote command to implement the hpfilter would likely be easy enough to just use his. He might be happy enough for you to use it.
http://www.econforge.org/posts/2014/juil./28/cef2014-julia/

[2016-07-20 11:30] MaximilianJHuber commented on #113
I finished the [Julia code](http://nbviewer.jupyter.org/github/MaximilianJHuber/DDP/blob/master/aiyagari_household.ipynb) for the Python lecture on [the Aiyagari Model](http://quant-econ.net/py/aiyagari.html) ready. I would appreciate if someone could have a look at the Houldhold-type and related functions. I could not easily translate the class structure from Python, because Julia is not that obj

[2016-07-20 11:31] spencerlyon2 commented on #113
@MaximilianJHuber that's great, thanks for working on it.

Are you comfortable opening a pull request in [QuantEcon.applications](https://github.com/QuantEcon/QuantEcon.applications) that includes your work so we can review it?

[2016-07-20 14:16] #108 closed

[2016-07-20 16:59] sebastien-villemot commented on #131
Sure, feel free to reuse that code under a BSD or GPL license.

[2016-07-20 17:48] jstac commented on #131
@sebastien-villemot Many thanks.

Anyone interested in this project please let me know.

[2016-07-21 14:54] stevengj opened #132 "Changed meaning of .+= in Julia 0.5"
Your code uses `x .+= y`, so you should know that in Julia 0.5 this has changed meaning to be equivalent to `broadcast!(identity, x, x .+ y)`, so that it mutates the `x` array (see JuliaLang/julia#17510 … in Julia 0.6 the whole operation will occur in-place without temporaries).  So `.+` should only be used if the left-hand side is a mutable array, and you don't mind mutating it.

At first glance,

[2016-07-21 18:31] spencerlyon2 commented on #132
Thank you for opening this up! We will have to change what we are doing here.

[2016-08-02 02:34] jstac commented on #119
Partly related question:  Is this line

https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/markov/mc_tools.jl#L426

with `init_state::Int` we are passing an index.  In the Python version we pass a value.

I guess both are OK as long as the documentation is clear.

[2016-08-03 21:33] jstac commented on #119
@albep @vgregory757 If either or both of you are able to contribute to finishing the debate and closing out this issue I would be grateful.

Apart from `simulate_panel`, `simulate_cross_section` could also be a good option.  It's a bit verbose but I think the meaning is clear from the name.

Whatever decisions are made this will affect the lecture site and applications repo, so please coordinate w

[2016-08-04 16:14] albep commented on #119
Am I correct in saying that in the Julia `simulate` function we need an actual `Matrix` to be returned if either of 3 things happens: i) a vector of initial conditions is supplied (but `num_reps` = 1); ii) only 1 initial condition is supplied but `num_reps` > 1; iii) a vector of initial conditions is supplied and `num_reps` > 1. I'm looking at this line https://github.com/QuantEcon/QuantEcon.jl/bl

[2016-08-04 17:31] vgregory757 commented on #119
I agree that the current setup of the functions is confusing and that the names `simulation` and `value_simulation` are unclear. I like @albep's suggestion -- would it mean that there would be no `num_reps` argument? If so, one downside to that might be that it's departing from the way the Python code is set up.

Whatever we decide, I'd be happy to help make any changes to the functions/existing c

[2016-08-04 17:46] cc7768 commented on #119
@spencerlyon2 probably knows a bit more about what is happening behind the scenes, so he can comment on this thought (and probably improve it).

I agree with John with respect to having the exposed function names match up to the Python code. It might not be that big of a deal to make the `simulate` function consistent in its return type if the returned value is generated within a different functio

[2016-08-05 04:34] jstac commented on #119
@cc7768 That sounds like a smart way to go.  As you say, each function handles a different case, so there should be no performance issues.

I should say I also like @albep 's suggestion that the function the user calls figures out whether it's a single chain or a cross-section of multiple changes from the `init` argument.  If it's a single element then you get back a single chain.  If it's an arra

[2016-08-05 07:48] spencerlyon2 commented on #119
Thanks @cc7768. Your analysis of the type inference implications _within_ the `simulate` function is exactly right.

However, the issue is that the `simulate` function itself will not be type stable. This means anyone that calls that function will have to deal with the type instability. My rule of thumb is that I try to figure out how to make _library_ functions type stable so that users of the li

[2016-08-05 08:33] albep commented on #119
This would be a way to implement what I had in mind, using only method inference:

`function _simulate(mc::MarkovChain, ts_length::Int, init::Int)
  # return 1d simulation of mc with init as initial index
end

function _simulate(mc::MarkovChain, ts_length::Int, init::Vector{Int})
  # return 2d simulation of mc with init as vector of initial indeces
end

function _simulate(mc::MarkovChain, ts_lengt

[2016-08-05 12:01] oyamad commented on #119
Always returning a 2d array doesn't sound a bad idea.

[2016-08-05 19:12] jstac commented on #119
Personally I would say that the case of wanting to generate a cross section is significantly less common than wanting to generate a single chain.  So, rather than always returning a 2D array, my vote would be to just drop the methods that generate multiple chains in cross section.  Instead we should only have routines that generate a single chain returned as a flat array, and any user who wants a

[2016-08-08 07:43] spencerlyon2 commented on #119
Here's an idea.

What if we have `simulate` and `simulate_indices` always return a flat array (Vector), but also expose methods `simulate!` and `simulate_indices!` that will fill a pre-allocated array with as many chains as there are columns in the pre-allocated array.

I think that the `init` argument for these methods should do the following:

- if not given, create a new random initial conditio

[2016-08-08 11:10] jstac commented on #119
I like this idea.

Either of the alternative approaches to treating `init` is fine, as long as it's clearly documented.

[2016-08-09 21:29] spencerlyon2 commented on #119
Sounds good to me. @vgregory757 or @albep are either of you willing to take this on?

[2016-08-10 14:26] vgregory757 commented on #119
Sure. I'll start by implementing @spencerlyon2's idea(s) and submit a PR asap.

[2016-08-13 08:51] albep opened #134 "Forcing 2d arrays in robustlq.jl"
@spencerlyon2 Testing the plots in this [PR](https://github.com/QuantEcon/QuantEcon.applications/pull/63) I couldn't run `robustness/robust_monopolist.jl` because of the following issue:

in `lqcontrol.jl` I added an internal function `getZ` to obtain a conformable element (matrix or number) `Z` to be passed to the function `cond()`. In order for `robust_monopolist.jl` to work following this chang

[2016-08-15 08:20] spencerlyon2 commented on #134
Hey @albep I would vote for adding one more method to `getZ`. The main reason is that I would like the "hard work" with the type system to be done inside the library so users don't have to think about it.

I believe the target audience for _users_ of QuantEcon.jl is similar to the audience for the lectures website. That being the case, we don't want to make them think about the type system when we

[2016-08-15 10:24] jstac commented on #134
That sounds sensible to me.

[2016-08-15 10:43] albep commented on #134
@spencerlyon2 I definitely agree with you. Before I implement it, let's check how `getZ` would then look like. It now has 3 [methods](https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/matrix_eqn.jl#L173):

""
- `BB::Float64` : result of B' * B
- `gamma::Float64` : parameter in the Riccati equation solver
- `R::Float64`
##### Returns
- `::Float64` : element Z in the Riccati equation solver

[2016-08-15 11:17] spencerlyon2 commented on #134
Hmm that's a bit tricky. Do we know that this `Matrix` will only have one element?

[2016-08-15 12:46] albep commented on #134
If `R` is a `Float`, `BB[1]` must have only 1 element

[2016-08-15 13:19] spencerlyon2 commented on #134
Ok sounds good. I think that sounds good then. We can probably do this by just relaxing the function signature on the second method to be

[code]

instead of

[code]

[2016-08-15 15:56] albep commented on #134
Thanks @spencerlyon2, I implemented this in PR #135

[2016-08-15 16:14] spencerlyon2 commented on #134
Excellent, if this is now resolved will you please close the issue?

[2016-08-15 16:32] albep commented on #134
Sure, thanks!

[2016-08-15 16:32] #134 closed

[2016-08-16 08:19] spencerlyon2 opened #136 "Redo documentation"
Our documentation is woefully out of date.

It's time for an update.

I propose we make the following changes:

- Use Documenter.jl
- Use [DocStringExtensions.jl](https://github.com/JuliaDocs/DocStringExtensions.jl) to automate a lot of our docstrings (insert function signatures, type fields, etc.)
- Lighten up the docstring syntax/structure. Right now we are kind of following python conventions,

[2016-08-16 08:52] jstac commented on #136
@spencerlyon2 Thanks for putting this together.  It would be great to see progress.

[2016-09-05 12:15] colbec opened #140 "Julia 0.6 dependency warnings"
Running Pkg.test in Julia v 0.6 produces a number of warnings related to change of functions abs(), cos(), exp() and sqrt() to a dotted version such as abs.(). I started a pull request to offer these changes but suddenly realized this may have backward effects for other versions where the dotted version is not known. So I will hold off on this, but the work remains in https://github.com/colbec/Qua

[2016-09-06 08:02] spencerlyon2 commented on #140
Thank you for doing that. I'm sure that once 0.5 is released and efforts are shifted to 0.6, there will be an official way to do this -- perhaps via Compat.jl.

cc @stevengj

[2016-09-06 11:51] stevengj commented on #140
See the discussion at JuliaLang/Compat.jl#280, cc @yuyichao

[2016-09-13 01:20] sbromberger commented on #136
We just converted to Documenter over in LG. Overall it's great. It requires github pages for hosting if you don't have it already. Feel free to ask questions or take a look at our scripts if you need some inspiration. The Documenter folks are also really willing to help.

[2016-09-13 16:17] spencerlyon2 commented on #136
Thank you for the heads up. I have used Documenter in a couple packages and it worked out really well.

[2016-09-25 16:26] sbromberger opened #141 "HEADS UP: Breaking change in LightGraphs API"
Sorry if this is not relevant to your use of LightGraphs, but I wanted to make sure you’re aware of a change in the API for the `induced_subgraph()` function.

Starting in LightGraphs 0.7.1, `induced_subgraph()` will, in addition to the subgraph itself, return a mapping of the original vertex indices to the new ones. This will require code changes to ignore the new return value if you’re using thi

[2016-09-26 14:26] spencerlyon2 commented on #141
Thank you for letting us know. I'll check out our usage and make any changes that are needed

[2016-09-26 14:27] spencerlyon2 commented on #141
@sbromberger I think that all of our LightGraphs usage is restricted to [these functions](https://github.com/QuantEcon/QuantEcon.jl/blob/7f9ddf2f3c638b365650d9b3fe68a34c80522f36/src/markov/mc_tools.jl#L13-L14), I think we are probably safe from this breaking change then, right?

[2016-09-26 14:32] sbromberger commented on #141
Yes. You should be fine. If any of those functions rely on induced sub graphs, we will fix (have already fixed) them to use the new results.

Cheers!

[2016-09-26 14:39] #141 closed

[2016-09-26 23:46] jstac opened #142 "tauchen broken by 0.5?"
Here's what I'm getting after installing Julia 0.5:

[code]

[2016-09-26 23:51] spencerlyon2 commented on #142
I believe this has been fixed. We might need to do another release of quantecon

[2016-09-26 23:53] jstac commented on #142
@spencerlyon2 I see, thanks.

I'll be giving a lecture on QuantEcon with Matt at Keio next week, on Tuesday.  I'll be covering asset pricing and using the `tauchen` routine in both Python and Julia.  Is there any chance we could get a new release of QuantEcon.jl out to fix this?

[2016-09-27 00:13] spencerlyon2 commented on #142
Very cool.

I'll do a release tomorrow

[2016-09-27 00:58] jstac commented on #142
Awesome, thanks.

[2016-09-29 03:06] MaximilianJHuber opened #145 "Loss of significance in Rouwenhorst AR(1) approximation?"
Hi,

Jarda Borovicka gave a problem set containing [Finite state Markov-chain approximations to highly persistent processes](http://www.sciencedirect.com/science/article/pii/S1094202510000128). The authors proof an alternative (polynomial) construction of Rouwenhorst's method in Appendix A.

I implemented this method and found a performance increase,
`@time rouwenhorst(21,0.99,(1-0.95^2)^(1/2));`

[2016-09-29 08:01] oyamad commented on #145
I just had a quick look at page 711 in that paper, but wondered how one can ever get the last two terms in (15) with superscripts N. I suspect they are typos for N-1. Note that the main formulas (12)-(13) are recursive formulas in N.

[2016-09-29 12:49] MaximilianJHuber commented on #145
You were spot on! Now the results are numerically identical, but the performance gain is gone of course. I will try to get the runtime down, but otherwise the issue is closed.

[2016-09-29 22:48] #145 closed

[2016-09-29 23:25] spencerlyon2 commented on #145
Thanks @MaximilianJHuber and @oyamad.

I'm happy to see that the routines agree and that the performance of the one in Quantecon is competitive.

[2016-10-03 14:01] #142 closed

[2016-10-13 15:18] vgregory757 commented on #131
I will work on some of the time series filters from statsmodels.

[2016-10-13 15:38] spencerlyon2 commented on #131
Sounds great.

Make sure to check the license on stats models before looking at their code.

[2016-10-13 16:08] cc7768 commented on #131
Statsmodels seems to be licensed under Modified BSD (3-clause)

[2016-11-07 14:27] albop opened #148 "qnwnorm not type stable"
When I compare the output of the two following lines:
[code]
I find that `x` is a vector in the first case and a one line matrix in the second case. I would suggest to adopt a consistent behaviour (the second), or alternatively to have another function `qnwmvnorm` or smthg like that.
I think the behaviour changed in the last release of QuantEcon.

[2016-11-07 14:39] spencerlyon2 commented on #148
I have a fix locally -- I take type-instability personally ;)

Will patch up and submit a PR sometime today

[2016-11-08 13:45] spencerlyon2 commented on #148
Done

[2016-11-08 13:45] #148 closed

[2016-11-14 15:14] oyamad opened #150 "compute_fixed_point warning"
Should not print a warning when converged with exactly `max_iter` iterations (ref #144):

[code]

See also the Python version https://github.com/QuantEcon/QuantEcon.py/pull/273#issuecomment-260358779.

[2016-11-14 15:26] albop commented on #148
Cool, I feel much more stable now...

On Tue, 8 Nov 2016, 13:45 Spencer Lyon, <notifications@github.com> wrote:

[2016-11-15 12:27] #119 closed

[2016-11-15 12:27] #112 closed

[2016-11-15 12:27] #45 closed

[2017-02-03 02:12] jstac opened #152 "1D linear interpolation convenience function"
I would like to have a convenience function that does 1D linear interpolation.

For example,

[code]

gives me a function `f` that uses linear interpolation between grid points.  To the left of the first grid point iit returns `function_vals[1]` and to the right of the largest grid point it returns `function_vals[end]`.

I know that `Interpolations` can be used but the syntax is hard to remember a

[2017-02-04 06:20] sglyon commented on #152
I think this does what you want... but I still need to document/write tests.

Will open a PR soon

[code]

Notice that I've implemented a `call` method for `LinInterp` instead of returning a function. From the user perspective they are equivalent.

Also notice that I only allow you to call `call` on a scalar. This is easily circumvented using the `.` broadcasting syntax in Julia 0.5+.

Here's an e

[2017-02-04 08:02] jstac commented on #152
@sglyon Thanks!  That looks perfect!

Once it's in the library I'll ask someone to convert at least some of our lecture code over.   It will make the models that use one dimensional interpolation much clearer.

Thanks again...

[2017-02-05 00:44] #152 closed

[2017-02-06 04:57] #132 closed

[2017-02-06 05:00] #13 closed

[2017-06-12 23:21] dbrowne opened #159 "Cannot precompile QuantEcon with Julia Version 0.7.0-DEV.553 (2017-06-11 22:13 UTC)"
Stacktrace:
 [1] depwarn(::String, ::Symbol) at ./deprecated.jl:70
 [2] macroexpand(::Any) at ./deprecated.jl:1376
 [3] docm(::LineNumberNode, ::Module, ::String, ::Expr, ::Bool) at ./docs/Docs.jl:658 (repeats 2 times)
 [4] @doc(::LineNumberNode, ::Module, ::String, ::Vararg{Any,N} where N) at ./boot.jl:340
 [5] include_from_node1(::Module, ::String) at ./loading.jl:549
 [6] include(::Module, ::St

[2017-06-13 02:45] sglyon commented on #159
From what I can tell this seems to be a problem with LightGraphs.jl

That being said, I'm still stuck with 1/2 foot in 0.5 and 1/2 in 0.6 -- I'm not really ready/prepared to diagnose why we might be failing on 0.7.

Can you, from a fresh Julia session, get `using LightGraphs` to run without error?

[2017-07-10 15:52] #140 closed

[2017-07-10 15:54] sglyon opened #162 "Question: change `draw(::DiscreteRV)` to `rand(::DiscreteRV)`?"
What do people think about changing the function name for getting a random sample from a DiscreteRV from `draw` to `rand`? The `rand` function seems to be the right name in the Julia ecosystem.

I'd also be open to having these two names be synonyms for one another.

cc @jstac

[2017-07-10 19:32] jstac commented on #162
I think it's fine to change to `rand` --- and a good idea for the reasons you suggest.  There's no need to keep `draw`.

We're close to having automatic daily testing on all our lecture code now, so even if I forget to make the change the error will be picked up when the new version of the library goes live ;-)

[2017-07-13 04:30] sglyon commented on #162
Automatic testing sounds great!

Ok, I'll make the change. For now I'll leave `draw` in as a deprecated function

[2017-07-13 17:42] #162 closed

[2017-07-13 21:10] sglyon commented on #162
Change is now active in METADATA.jl registered version of QuantEcon

[2017-08-17 17:24] sglyon opened #169 "Minimum version numbers on Optim and NLopt"
@Shunsuke-Hori in order to get a new version of QuantEcon registered we will need to put minimum version numbers on packages that have had breaking changes. I know this is true for Optim -- espeically with the box constrained minimization routines.

Would you please check to see which version of their API you are using and put a lower bound in the REQUIRE file (like we do [here](https://github.com

[2017-08-19 14:23] #169 closed

[2017-09-16 12:08] oyamad opened #172 "DiscreteDP: Add backward_induction"
As in QuantEcon/QuantEcon.py#244

* [x] Let `DiscreteDP` accept `beta=1`
* [x] Add a method `backward_induction` for finite horizon problems

[2017-09-18 06:26] oyamad opened #173 "MarkovChain: state_values"
* Add a method to set `state_values` afterwards
  Once `mc` is created by `mc = MarkovChain(p)`, then the `state_values` field has type `UnitRange`. Currently, it is not allowed to change it to, say, an `Array` of state values. (This is relevant in particular for `DPSolveResult.mc`.)

* Allow `state_values` to be `AbstractArray`?
  When state values are 2-dimensional for example, the state space m

[2017-09-18 06:30] oyamad opened #174 "MarkovChain: init in simulate"
`init` should be specified as a state value?

See item 2 in https://github.com/QuantEcon/QuantEcon.jl/issues/119#issue-164713096.

[2017-10-06 03:45] sglyon commented on #173
In response to the first point, I would prefer to have the `MarkovChain` type be immutable. Instead of changing the state values later on, I would encourage users to simply construct a new MarkovChain instance using the original transition matrix and supplying new state values.

I'd be open to allowing the state_values to be an AbstractArray, with the number of elements in the first dimension equa

[2017-10-11 13:45] oyamad opened #178 "Add simplex_grid and simplex_index"
Translate QuantEcon/QuantEcon.py#344 into Julia, probably in `util.jl`.

[2017-10-15 10:11] BenjaminBorn opened #180 "Use FastGaussQuadrature.jl for computation of Gauss quadrature nodes and weights?"
It seems that there is a considerable performance difference between, e.g., `qnwlege()` from this package and `gaussianlegendre()` from the FastGaussQuadrature package.

[code]

The timings are from the second run of the code.

[2017-10-16 13:45] sglyon commented on #180
Thanks for letting us know about this!

I think you are right that we could wrap the FastGaussQuadrature routines in a function that shifts/scales the nodes and weights they supply to be on [a, b]

I personally don't have the time to attack this right now, but if you are up for it I could try to offer some suggestions on where to start.

Thanks again

[2017-10-19 00:58] tbeason commented on #180
So I did a little bit of this in my own work just because I was trying to cut out dependencies. Here is what I did, if that helps get things rolling. Benchmark shows it is faster than QE for small n, but does slow down as n grows. I suspect somebody more experienced than I am could fix that.
[code]

[2017-10-22 01:07] #159 closed

[2017-10-23 21:32] #178 closed

[2017-11-05 03:25] #34 closed

[2017-11-05 21:49] jstac opened #186 "Drop ecdf?"
Currently `ecdf` is available in StatsBase, leading to the warning

The StatsBase version is here:

https://github.com/JuliaStats/StatsBase.jl/blob/7e9d724cd795a719f340d6102c8b714ccec3cbde/src/empirical.jl#L5-L13

[2017-11-06 17:20] sglyon commented on #186
I'm in favor

[2017-11-07 21:59] sglyon commented on #180
Thanks @tbeason. Did you collect benchmark data? If so, would you mind sharing it.

When I try to run it on `n=10` nodes I see almost no difference in performance:

[code]

[2017-11-08 10:08] BenjaminBorn commented on #180
I can confirm that they are similar in performance (with a slight edge for `qnwnorm`)

[code]

And it's not just the shifting/rescaling. The pure function is also not faster.
[code]

For Gauss-Legendre on the other hand, the difference is considerable
[code]

It might make sense to do a comprehensive benchmarking exercise of the QuantEcon vs. FaustGaussQuadrature routines.

[2017-11-09 16:46] sglyon commented on #180
Glad someone confirmed that `qnwnorm` isn't significantly slower than the competition.

As for `qnwlege`, I honestly think that even though the difference in time is large, it probably isn't a huge deal in practice. When I use these routines I typically have relatively few quadrature weights and nodes (between 5 and 30), so the difference in time reported by your first example when n=10 becomes th

[2017-11-12 10:33] oyamad opened #189 "using BasisMatrices in QuantEcon"
I was trying to include some code that is using `BasisMatrices` to here, but it fails. The situation is the same as that described in "[Circular modules and precompilation errors](https://discourse.julialang.org/t/circular-modules-and-precompilation-errors/3855)".

The code is to solve dynamic programs with continuous states by the collocation method using `BasisMatrices`: [Preliminary notebook](h

[2017-11-13 13:25] sglyon commented on #189
Very cool notebook! If/when we want to bring something like this into QuantEcon I'll have some tips to offer for how to make even better use of BasisMatrices potential performance.

If we do decide that we want to have BasisMatrices be a dependency of QuantEcon, then we will need to move the functions BasisMatrices currently imports from QuantEcon into BasisMatrices itself. We can then import thes

[2017-11-13 14:06] oyamad commented on #189
@sglyon Thanks. Tips from the author of the library will be much appreciated.

According to [this line](https://github.com/QuantEcon/BasisMatrices.jl/blob/86e8379d61f8bb650436b170e090d4c0fe095770/src/BasisMatrices.jl#L25), BasisMatrices imports gridmake, gridmake!, ckron, fix, fix! from QuantEcon, which are mostly used in quad.jl. As an alternative to moving these to BasisMatrices, would it make s

[2017-11-13 18:04] sglyon commented on #189
I think that the "most Julian" thing to do would be to split them into a third package. But... that being said I still wonder if it would be worth the cost of maintaining another package. I wonder if there are any users of those routines outside QuantEcon and BasisMatrices. Any ideas or thoughts on that?

[2017-11-14 00:59] oyamad commented on #189
Alternatively, we could

1. create a package `ContinuousDP.jl` (or `ContinuousDPs.jl`?) which will be using `BasisMatrices` and `QuantEcon`.

Or

2. define a general `ContinuousDP` type in `QuantEcon` and create a package like `DPCollocationSolve.jl` (the collocation method is not the only way to solve a continuous state DP).

The short run solution should be 1, where we don't make any change to `

[2017-11-14 15:32] sglyon commented on #189
That's totally true and is definitely in line with how much of the Julia package ecosystem works. I think it is a good short run solution.

WARNING: what follows is my very biased opinion, so discount appropriately.

If we make the argument to have continuous state dynamic programming in a separate package, then we could say something similar for DiscreteDP,  LQ/RBLQ, quad, MarkovChains, etc. My q

[2017-11-14 16:51] oyamad commented on #189
@sglyon I share your concern. And my preference is to put as many routines into QuantEcon as possible; it will be best if I can get everything by one line `using QuantEcon`.

My point was:

* We don't know yet if my code is worth adding into QuantEcon.
* We cannot evaluate it unless we have working code.
* The usual process is to put the code into QuantEcon and open a PR, but it doesn't work in th

[2017-11-14 16:53] sglyon commented on #189
Great, I'm glad you are on board.

As I mentioned above, I totally agree with your suggestion that the best plan in the short run for this material is to use a third package that depends on both QuantEcon and BasisMatrices. If/when we decide that QuantEcon is the right home for this code, we will definitely have to resolve the issue of circular dependencies.

[2017-11-16 10:08] jstac commented on #189
+1 for a unified package, as QuantEcon.jl now stands.

@oyamad That's a great notebook!  Will you publish it somewhere?

[2017-11-19 06:24] oyamad opened #190 "Feature request: Multidimensional linear interpolation"

[2017-11-20 02:27] oyamad commented on #189
There is working code now in https://github.com/QuantEcon/ContinuousDPs.jl.

Comments/suggestions are welcome.

[2017-11-21 16:34] albop opened #191 "gridmake speed"
I have tried to rewrite a version of gridmake, that would output a column-major ordering. The following function does it:
[code]

[2017-11-21 16:47] albop commented on #191
Like always, I sent the comment before editing it completely. I just finished it.

[2017-11-21 17:05] sglyon commented on #191
Wow, this is great. Faster and simpler. I'm all for this change.

What should the API look like for choosing tall vs wide output (they are both column major IMO because even in the tall form the first column's values move faster)?

We could have two functions with slightly different names, or we could have a Bool keyword argument. I'm open to suggestions.

[2017-11-21 17:10] sglyon commented on #191
I may have been a bit too eager...

Two things to be aware of:

1. We shouldn't hard code `Float64`
2. We need to preserve the current functionality when using `AbstractMatrix` as an input (see below)

[code]

[2017-11-21 19:58] albop commented on #191
1. indeed. There is still the constraint that data must be homogenous. It's a tricky one, since there is no abstract iterable type. One could use AbstractArray, but that is less general. Don't know what is meant by "traits" in this discussion: https://github.com/JuliaLang/julia/issues/23429
2. I haven't thought carefully about that one. But maybe it isn't that useful, if not used for recursively d

[2017-11-22 00:43] natashawatkins opened #192 "Add guide to writing tests in julia"
[This page](https://quantecon.org/julia-developers) says the guide is currently in work

[2017-11-22 01:43] oyamad commented on #191
This may be related or may be orthogonal: Yesterday I was wanting `gridmake(T::Type, arrays...)` to force the eltype of the output to be `Float64` independent of the eltype of `arrays` (one could use `gridmake!(out, arrays...)` by calculating the shape of `out` from `arrays`, but it would be redundant, being done internally in `gridmake`).

[2017-11-22 13:22] sglyon commented on #192
I won't be able to tackle this myself, so I'm going to apply the help wanted label

[2017-12-07 18:44] a-parida12 commented on #150
I am working on it

[2017-12-09 09:33] a-parida12 commented on #186
I am interested in resolving this bug. Can someone guide me on how to approach it?

[2017-12-12 13:43] #150 closed

[2017-12-12 13:49] sglyon commented on #186
Hi @a-parida12 thanks for being willing to work on it.

I think it should be as simple as making our name `ECDF` go directly to the `StatsBase.ecdf`

The one thing we lose is the ability to look up the `observations` field on what gets returned by `StatsBase.ecdf`.

Does anyone see that as an issue? @jstac ?

[2017-12-12 18:42] jstac commented on #186
That's fine at this end.

[2017-12-19 02:38] #186 closed

[2017-12-22 23:49] jlperla opened #197 "Is PDF export of the lecture notes currently broken?"
Go to: https://lectures.quantecon.org/_static/pdfs/QuantEconlectures-julia.pdf

Says "Page not found" at this point.  Same for python.

[2017-12-23 22:28] jstac commented on #197
@jlperla It's fixed now, thanks for noting it. Some old style tex code in a new lecture was causing the latex build to fail.

[2017-12-23 22:28] #197 closed

[2018-01-08 04:10] oyamad opened #200 "Fix deprecation warning in test_lae.jl"
[code]

[2018-01-30 22:54] jlperla opened #201 "Initial condition for stationary distribution of LSS with a constant term"
A couple of students were having trouble with the LSS model and calling `stationary_distributions` because they hadn't created it with an initial condition.  So the following works
[code]
But changing it to `lss = LSS(A, C, G)` does not

The issue is that the code doesn't warn them that this wouldn't work and doesn't correct the default initial condition (which I assume is just 0s)?

So, is there

[2018-02-09 19:35] jlperla commented on #201
Just an update on this:  this caused a great deal of confusion in the assignments for people when the state space had a constant term.  Also, using the initial prior mean for the initial condition of the stationary distribution algorithm is a little hard to understand for some.  I think that adjusting the default initial condition for the steady state algorithm to put in any of the constant terms

[2018-02-09 20:06] jstac commented on #201
I didn't fully understand the second comment but certainly it should be possible to call `stationary_distributions` after `lss = LSS(A, C, G)` .

In fact I would have thought we should be computing these stationary moments with linear algebra routines rather than iteratively.  The expressions are available here:

https://lectures.quantecon.org/jl/linear_models.html

For the variance-covariance mat

[2018-02-09 20:14] jlperla commented on #201
Great, I think that calling `stationary_distributions` on `LSS(A, C, G)` directly would be great (and I think it is easy enough to do since you are already identifying constant.   My second comment was that it was tricky for them to understand that optional parameter called `mu_0` was the initial condition for the solution to the `stationary_distributions`.

For a user, the nice thing about the it

[2018-02-12 03:57] Flintro opened #203 "Possible improvement for the quadrature approximation routines."
In the code ported from the old MATLAB libraries referenced [here](https://github.com/QuantEcon/QuantEcon.jl/pull/202#) the Gaussian-Legendre Quadrature approximation might not be optimal. When making this approximation we generate n legendre polynomials

From what the comments in the code suggest, for i = 1,...,n the function `qnwlege(n::Int, a::Real, b::Real)` takes its nodes to be the **ith** r

[2018-02-12 04:45] Flintro commented on #203
Another issue is that on my setup the Gauss-Legendre Quadrature routine doesn't recognise the fix() function, and I instead replaced it with a ceiling function.

[2018-04-05 19:03] sglyon opened #206 "ENH: add getindex(::Simulation, ::Union{BitArray,Array{Bool}}) to def_sim macro"

[2018-06-06 23:12] brilhana commented on #192
I can work on this. Should the guide be aimed on tests in `QuantEcon.jl` specifically or `julia` at large?

[2018-06-06 23:56] oyamad commented on #200
Done by #208

[2018-06-06 23:56] #200 closed

[2018-06-07 00:07] sglyon commented on #192
Good question. Could you provide an example of when that would differ?

[2018-06-07 21:47] brilhana commented on #192
Testing in `julia` is briefly introduced in the [docs](https://docs.julialang.org/en/stable/stdlib/test/). Did you have something similar in mind? I could work on a notebook to show more test examples.

[2018-06-08 16:02] sglyon commented on #192
I think it makes sense to write a simple document that points to the Julia documentation page and then describes any additional conventions/procedures we have followed here in QuantEcon.

Does that make sense

[2018-06-11 14:49] brilhana commented on #192
First draft: https://gist.github.com/brilhana/8e1135708a1e8eed87ba9107911a8a41

[2018-06-19 16:55] Nosferican commented on #58
Regarding where and how to use `using` and `import`. My preferred method is to have them at the top of every module, explicit, and descriptive.
[code]
A few considerations:
- Is explicit on what you are using and what you are extending
- All dependencies and what you are using from each is explicit
- Everything is in one place (no code-hunting)
- Namespace is not clutter and doesn't let you to use

[2018-06-19 17:05] sglyon commented on #58
Great suggestions. That's my preferred approach also.

[2018-06-25 04:14] oyamad commented on #103
Done by #207

[2018-06-25 04:14] #103 closed

[2018-07-18 14:55] Nosferican opened #210 "Support for 1.0"
Opening an issue to keep track of the progress towards supporting 0.7.

[2018-07-18 15:37] femtotrader commented on #210
This is probably something that might be considered for JuliaCon2018 Hackathon
https://discourse.julialang.org/t/recruiting-package-authors-for-juliacon-hackathon-mentoring-guidance/12453

[2018-07-18 15:51] Nosferican commented on #210
We can probably run FemToCleaner and make a dev branch to get us pretty close. At least to the point that allows us to develop [Expectations.jl](https://github.com/econtoolkit/Expectations.jl) and update [QuantEcon Lectures (Julia)](https://lectures.quantecon.org/jl/).

[2018-07-20 13:23] sglyon commented on #210
That sounds great.

[2018-07-23 04:44] Nosferican commented on #210
A few issues I identified
- [ ] Doctrings (find a way to display them with \LaTeX or use only unicode)
- [ ] Iterator syntax
- [ ] Use of `Nullable`
- [ ] Certain code seems to have broken for LinearAlgebra routines

[2018-07-23 16:07] miguelmorin commented on #131
How about the seasonality filter with X-13ARIMA, did that suggestion go places?

[2018-07-25 19:34] arnavs opened #212 "Lecture Note Upgrades"
Talked with @nosferican about opening this to track the integrations of the outside code into the lectures. In particular, what we have right now in terms of external code is:

- [ ] Econtoolkit/Expectations.jl: Works on 0.7 and 0.6, through Compat. Depends itself on FastGaussQuadrature.jl, which AFAIK has gotten rid of its deprecation warnings.
- [ ] mauro3/Parameters.jl: Latest tagged release (`

[2018-08-13 23:52] Nosferican commented on #210
List of files to update in `src` (update the file and the related test file)
- If the functionality is available in another package already, use outside package (check if supports 1.0)
- Legacy code should be replaced or ported à la Julian

- [ ] arma.jl
- [ ] compute_fp.jl
- [ ] discrete_rv.jl
- [ ] ecdf.jl
- [ ] estspec.jl
- [ ] filter.jl
- [ ] interp.jl
- [ ] kalman.jl
- [ ] lae.jl
- [ ] lqcont

[2018-08-16 14:17] Nosferican commented on #210
Finding replacements and porting code out of QuantEcon to reduce size.
- [ ] `fix` and `fix!` should use `trunc`
- [ ] `gridmake` (should probably use a Julian way, e.g., broadcast rather than the `Matrix`, but for now changed from the 50+ lines to
[code]
- [ ] Function/files that could be moved to [Combinatorics.jl](https://github.com/JuliaMath/Combinatorics.jl)
  - [ ] `num_compositions` (seems

[2018-08-21 08:18] pkofod commented on #212
this should be merged

[2018-08-21 14:59] Nosferican commented on #210
I believe the plan is to tag a 1.0 version compatible for now and later on engage in a major re-write with some breaking changes (using deprecation warnings to allow people to update code). Julia 0.7 is not a true release and is meant to be used for code updating only. Having a 1.0 release will allow others to update their code using 0.7 and we are keeping the same API for now. Development and the

[2018-08-21 17:05] arnavs commented on #212
Expectations is also tagged through 1.0

[2018-08-21 17:19] sglyon commented on #210
@oyamad I don't plan to have a new release that supports both 0.6 and 0.7+. Though, if you can argue a reason why we should, I'm happy to hear it and consider

As for how we will get to the 0.7+-ready release I've been biding my time until our dependencies are all ready to go. Once that happens there are a few things that need to be changed (@Nosferican has been working on them already), but it sh

[2018-08-21 18:19] Shunsuke-Hori commented on #210
I kind of want a new 0.6 compatible release before #215 because new features between #215 and [the last release (v0.14.2)](https://github.com/QuantEcon/QuantEcon.jl/releases/tag/v0.14.2) are not officially available in 0.6 now.

[2018-08-21 18:26] Shunsuke-Hori commented on #210
@Nosferican

Yes, exactly.

[2018-08-21 18:26] Nosferican commented on #212
Might be nice to follow the new Iterpolations.jl which should be done soon. From what Chris explained, it seemed like a great improvement (going from trapezoid libraries to a function integral approach for greater precision and more efficient).

[2018-08-21 18:31] Nosferican commented on #191
I tried a few approaches and I think the `mapreduce(f, hcat, zip(arrays, cumprod))` version offered same order of efficiency and simpler code.

[2018-08-22 07:16] pkofod commented on #212
Is this "soon" or soon?

[2018-08-22 16:46] arnavs commented on #212
Sure, I'll keep an eye on it. It looks like [this](https://github.com/JuliaMath/Interpolations.jl/issues/224) is the issue to track.

[2018-08-22 19:34] sglyon commented on #191
@Nosferican can you point us to the mapreduce version?

[2018-08-22 19:41] sglyon commented on #210
In the works right now: https://github.com/JuliaLang/METADATA.jl/pull/17219

[2018-08-31 16:20] shiyuzhao opened #219 "Julia 1.0.0 on MacOS 10.13 using QuantEcon error"
[code]

[2018-08-31 16:30] Nosferican commented on #219
It hasn't been registered yet (see https://github.com/JuliaLang/METADATA.jl/pull/17534).
You can use the master branch for now.
[code]

[2018-08-31 16:30] sglyon commented on #219
Thanks for reporting, we have a new Julia 1.0 compatible release waiting to be published in metadata

Should be resolved very soon.

See https://github.com/JuliaLang/METADATA.jl/pull/17534#event-1820918436 for status

[2018-08-31 16:34] shiyuzhao commented on #219
@Nosferican @sglyon Thanks!

[2018-08-31 16:59] #219 closed

[2018-08-31 17:47] jlperla opened #220 "Ranges preparation for v1.1 for replacing linspace"
The current range syntax changing between 1.0 and 1.1... It may only be a few months before the 1.1 release, but we are writing a lot of code between now and then.

Basically, whenever we have code right now that says `linspace(a, b, N)` with this patch we could turn it to `range(a, b, length=N)` which is objectively better.

I asked on slack and they told me that if we do some (temporary) type pi

[2018-08-31 17:58] albop commented on #220
I'm curious : how is range () objectively better than linspace ?

Le ven. 31 août 2018 à 19:47, Jesse Perla <notifications@github.com> a
écrit :

[2018-08-31 18:01] jlperla commented on #220
I suppose that is a matter of taste, but I like forced keyword arguments when things are unclear of the ordering.

Regardless, it is what Julia is doing.  What is *worse* than `linspace` is the current `range` in Julia v1.0 - which this is intended to temporarily patch.

[2018-08-31 18:04] sglyon commented on #220
my gut reaction is that it scares me a bit to define that method...

Are you trying to expose this method to users (not devs) who call `using QuantEcon`?

[2018-08-31 18:12] jlperla commented on #220
It should be scary, it is unequivocable type piracy!

Yes, the idea would be that the julia lecture notes (and anyone who does `using QuantEcon`) would be able to use the new syntax.  Once Julia 1.1 is released, though, that function would not exported or even defined as https://github.com/JuliaLang/julia/pull/28708 would be merged.  This is one of those PRs that should have made it into v1.0 but

[2018-08-31 18:17] simonbyrne commented on #220
If it is local to the package, one way to avoid type piracy is to add your _own_ `range(a, b, length=N)` method within the `QuantEcon` module:
[code]

[2018-08-31 18:31] simonbyrne commented on #220
Because random packages shouldn't change the behaviour of unrelated Base functionality.

Yes, I agree since it's a method error, it's not _that_ big of a deal, but you could still have a situation where someone has some code which uses the this functionality, which then breaks when they forget `using QuantEcon`.

If it should go anywhere, it should be in Compat.jl.

[2018-08-31 18:35] jlperla commented on #220
True almost always.  But in this exact circumstance, it is about temporarily accelerating a feature that will be in Base, is currently a method error, and isn't exported when base changes.  It may seem trivial, but this is such a common programming pattern that I care deeply about making sure people use the right (i.e. 2-3 months from now) way of doing it.

If that is the worst thing that could ha

[2018-08-31 18:38] Nosferican commented on #220
I would use the syntax based on the language. We can release a new version for `v"1.1.z"`. If there are issues I think Compat would be the place if anything and it would probably be there. We could add it as a dependency even if not my favorite solution.

[2018-08-31 18:42] jlperla commented on #220
I also want to point out that this is a sufficiently special case that people in https://github.com/JuliaLang/julia/pull/28708 were even arguing about breaking SemVer to get it in.

A lot of code would be created and taught prior to that point, using a confusing pattern that everyone agrees will be changed in the short term.  **The language was released before it was ready**, so some special cases

[2018-08-31 18:45] Nosferican commented on #220
If the course is started with Julia 1.y.z. I would not upgrade a major version for that term so students would most likely not see the new syntax until after the course.

[2018-08-31 18:50] jlperla commented on #220
Students (at least mine) will start with 1.0.

Who knows when v1.1 will actually be released?  You are also assuming that students will notice and change the way they code between versions... these things are a mental snapshot for most people.  They will take whatever source we give them and use it directly for the future unless something forces them to change it.  This `linspace` debacle will be

[2018-08-31 18:54] Nosferican commented on #220
I started learning Python soon after 3.y.z got released and learned the language in three different classes using 2.7. It was a bummer trying to learn the changes, but it wasn't too bad and I think Julia is making it a lot easier than what it was for Python at that historic time. Say that we teach them the 1.1 syntax, who will "shelter" them from when 1.2 comes out? I would be surprised if `v"1.1.

[2018-08-31 19:02] jlperla commented on #220
No precedent is intended on any other features or versions.  I expect v1.2 to be a normal point release and staggered with a normal timeline.  Whether people admit it or not, v1.1 is very likely going to be a fix to the v1.0 release getting in whatever they should have snuck in to v1.0 but couldn't because of the hard deadline on the release date.

I also don't believe that v1.1 is supposed to dep

[2018-08-31 19:05] sglyon commented on #220
won't matter because as long as _some_ package they load uses compat, the method will be added to the Base.range function

[2018-08-31 19:09] jlperla commented on #220
My concern was that I would prefer not to make `Compat.jl` a dependency for lectures.

Your concern seems to be that when this code is added to `Compat.jl` (which it will be there at some point soon, I would guess) that it would clash with any QuantEcon.jl version of the function?

[2018-08-31 20:32] sglyon commented on #220
Nope, I was addressing your concern about not loading Compat explicitly in script type code.

You would have to as long as somewhere in the stack (e.g. in QuantEcon) a package loads Compat. As soon as that happens the method is added to the `range` function and available globally.

If we wanted to find a home for it *and* ensure that it is ready for QuantEcon lecture users we should put it in Comp

[2018-08-31 20:35] jlperla commented on #220
I think I see what you are saying for the clashes between this and one added into compat.  That kills the idea.

So... changing approaches, but not my end goal :-)

If we tell people to add `using Compat` in the lecture notes, which is not an enormous problem, and could help us sneak in other v1.0 to v1.1 quirks, is there any real downside?  Can it break anything, slow things down in compiled code

[2018-08-31 20:44] sglyon commented on #220
I don't think I was clear enough

Here's the idea:

- Add your method to Compat.jl
- Then call `using Compat` in QuantEcon. This causes the new method to be added to `Base.range` and available anywhere `Base.range` is available
- Lecture users call `using QuantEcon`. QuantEcon then loads compat and without the lecture user even needing to think about it, the new method (that lives in Compat) is av

[2018-08-31 20:46] jlperla commented on #220
I see.  Are there any downsides to that approach?  Are there times when you really don't want to have `Compat.jl`?

[2018-08-31 20:48] sglyon commented on #220
Not that I know.

The downside will be convincing Compat stewards to accept a "forward compatibility" method instead of the typical backward compatibility-preserving definitions you usually find there

[2018-09-01 03:44] albop commented on #220
Maybe they would be open to "from __future__ import range" ? ;-)

Joke appart, I'm fairly neutral on this issue as it's really a transitional
problem. Compat sounds like a good idea.

What the students should know is that keyword arguments are now fast with
Julia so there is no need to find strategies to avoid them. `range` is a
good example of that. Now I'll be teaching Julia again soon and I sin

[2018-09-04 16:37] jlperla commented on #220
That is for sure.  The problem is that it is hard for them to acquire the new information - unless errors are triggered, which wouldn't occur here.  Also a great deal of hysterisis occurs with code.

It looks like from
https://github.com/JuliaLang/julia/pull/28708#issuecomment-418433463 that adding to `Compat.jl` would have support, so I will close this issue and we can do something separate for t

[2018-09-04 16:39] #220 closed

[2018-09-07 16:28] Nosferican commented on #210
Closed by https://github.com/JuliaLang/METADATA.jl/pull/17534

[2018-09-07 16:28] #210 closed

[2018-11-16 00:12] #212 closed

[2018-11-16 00:17] arnavs opened #226 "Precompilation Abnormalities"
cc @jlperla @Nosferican

It looks like the package sporadically precompiles when it shouldn't. For example, see http://compare-lectures.quantecon.org/jl/aiyagari.html#, by which point we've already run the `activate_github()` with the environment several times. (There's also a build error here, which may be worth investigating).

In my REPL, I also see

[code]

right after adding the package, whic

[2018-12-07 04:42] natashawatkins opened #227 "Update the contributing to QuantEcon.jl page?"
Maybe some people here could improve the pages here: https://quantecon.org/julia-developers

[2018-12-10 18:51] arnavs commented on #227
Initial thoughts:

- [ ] Point people to the `lecture-source-jl` repo (which we should probably clean up for new contributors).

- [ ] Remove stuff about style guides not existing. There's a good one on the Julia website and on the lectures repo. The linked PR for docstrings has also been merged in.

- [ ] Remove the stuff about test guides not existing, and instead replace it with a short intro t

[2018-12-12 17:21] arnavs commented on #226
Closing because of https://github.com/JuliaLang/Compat.jl/issues/636. which spontaneously cleared up. This is probably a Julia Pkg issue.

[2018-12-12 17:21] #226 closed

[2019-01-11 12:55] #172 closed

[2019-01-16 17:38] IljaK91 opened #230 "Error in qnwnorm"
https://github.com/QuantEcon/QuantEcon.jl/blob/ae0046f4a1725ce8a35719f47181a4256240c8e6/src/quad.jl#L594

As I understand, these two lines should yield the same:

[code]

However, the first line yields an error with
[code]

It seems to me that an easy fix would be to use `Matrix(Diagonal())` instead of `diagm()`

[2019-01-16 17:42] IljaK91 commented on #230
I created a pull request.

[2019-01-17 15:50] #230 closed

[2019-01-31 09:33] IljaK91 commented on #192
Is there still some work on this? I can offer some help if I get some directions on what is missing.

[2019-01-31 13:37] IljaK91 opened #233 "Kalman Filter: Make sure that VCOV matrices return true when using ishermite()"
I have the following issue using the Kalman-Filter. Start with the following setup (the numbers don't really matter):

[code]

This is in both cases due to
[code]

Now I am not sure if this warrants changes inside the `ishermitian()` function, i.e. changing `==` to `≈`, or if inside this package we should make sure that `k.cur_sigma[1,2] == conj(k.cur_sigma[2,1]) ` holds exactly.

What do you guys

[2019-02-09 00:39] murphyk opened #234 "strange indexing bug with Kalman smoothing example"
The code below works if I manually copy ["kalman.jl" ](https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/kalman.jl) to my local directory and type `include("kalman.jl")`.

[code]

But if I type `using QuantEcon` (instead of copying the source and including it) and run the code below, I get this odd error message:

[code]

Any ideas why?
(I am using Julia 1.1 and QuantEcon 0.15.0.)
Is the m

[2019-02-09 00:47] Shunsuke-Hori commented on #234
@murphyk Yes, a8937f8e7bdc2ca6efc9b13e5abb1b15409cf4cb fixed the issue but no new version has been released since then.

[2019-02-18 10:25] HitLuca opened #236 "coveralls token in plain text"
your coveralls.yml leaks your private token, I highly suggest you to move it into the travis-ci settings environment variables, as I can push coverage stats for your repo even if i'm not the author

[2019-02-18 20:16] sglyon commented on #236
Thank you for reporting. @QuantEcon/core could anyone take a look at how to resolve this?

[2019-03-05 00:42] oyamad opened #239 "Documenter not working"
See https://travis-ci.org/QuantEcon/QuantEcon.jl/jobs/501549954#L986

Cf. QuantEcon/Games.jl#99

[2019-03-05 12:28] sglyon commented on #239
Thanks for pointing this out. Do you have any RAs with time to help us get this sorted out?

[2019-03-05 14:35] oyamad commented on #239
@shizejin Would you have time to work on this, as you did for `Games`?

[2019-03-05 18:56] shizejin commented on #239
Sure! I will look into this.

[2019-03-07 18:24] arnavs opened #243 "Julia GSOC"
Similar to #227.

@Nosferican pointed out on slack that someone asked about opportunities to contribute to Julia projects/GSOC. Opening this issue for lists/discussion.

Off the top of my head, some potential ideas for Julia work include:

- [ ] Adding `gist` support for `InstantiateFromURL.jl`
- [ ] Adding other enhancements to `InstantiateFromURL.jl` (https://github.com/quantecon/instantiatefrom

[2019-03-08 13:12] #239 closed

[2019-08-26 18:01] arnavs opened #248 "DSP Deprecation"
Got this message today when precompiling QuantEcon:

[code]

[2019-09-04 17:14] sglyon commented on #248
closed by #249

[2019-09-04 17:14] #248 closed

[2019-09-04 18:08] arnavs commented on #248
Thanks @sglyon for pushing this forward.

[2019-11-15 04:14] frawas opened #251 "Package Fails to Precompile"
Looks like some dependencies were changed, so QuantEcon and Games.jl stopped working for me (even after Pkg.rm() and re-installing the packages)

Error:
julia> using QuantEcon
[ Info: Precompiling QuantEcon [fcd29c91-0bd7-5a09-975d-7ac3f643a60c]
WARNING: both FFTW and Util export "Frequencies"; uses of it in module Periodograms must be qualified
ERROR: LoadError: LoadError: UndefVarError: Frequenc

[2019-11-15 23:14] Shunsuke-Hori commented on #251
@frawas I cannot reproduce the error. Would you try `update` and `precompile` again?

[2019-11-16 00:19] frawas commented on #251
Still nothing! I'm unfamiliar with this error or what is causing it, I have been using the package as well as Games.jl fine.

julia> Pkg.update("QuantEcon")
  Updating registry at `C:\Users\Farah\.julia\registries\General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
 Resolving package versions...
 Installed TimerOutputs ─ v0.5.2
 Installed HTTP ───────── v0.8.8
  Updating

[2019-11-16 03:19] Nosferican commented on #251
I can confirm using it with  project environment works fine. This is likely an issue of having a polluted environment. The recommended way to use Julia is with project environments which avoid those issues.

[2019-11-17 21:12] jcaste94 opened #252 "Error using QuantEcon."
Every time that I load QuantEcon this error pops up. Help me please!!

Note: I'm using Julia v1.2.0 with Atom and Juno.

Precompiling QuantEcon [fcd29c91-0bd7-5a09-975d-7ac3f643a60c]
WARNING: both FFTW and Util export "Frequencies"; uses of it in module Periodograms must be qualified
ERROR: LoadError: LoadError: UndefVarError: Frequencies not defined
Stacktrace:
 [1] top-level scope at /Users/Cast

[2019-11-18 02:27] Nosferican commented on #252
Dubbed of #251.

[2019-11-18 02:27] #252 closed

[2019-11-18 02:42] Nosferican commented on #251
For those that have the issue, I would suggest using project environments (see [Working with environments](https://julialang.github.io/Pkg.jl/v1/environments/)).

Your global environment file should probably only include packages for cross projects, such as IDE related packages (e.g., Atom, Juno, IJulia), package development (e.g., Coverage, Documenter, DocumenterTools), and tooling (e.g., Benchma

[2019-11-25 19:15] galenlynch commented on #251
This is probably fixed by JuliaRegistries/General#5778

[2019-11-27 19:14] #251 closed

[2019-12-27 03:01] mvinoba opened #254 "URL in repository's description is broken"
Repository's description has this URL: [http://quantecon.org/julia_index.html](http://quantecon.org/julia_index.html). This is a **"Page Not Found"** error in QuantEcon.

[2020-02-26 00:31] arnavs opened #256 "Iterations in LQ Stationary Values"
Currently, there's no way to pass a number of iterations to the underlying `solve_discrete_ricatti`. So, if your problem doesn't converge in that method's default (51), you error out.

Would be great if this could be changed.

[2020-03-04 14:47] Sinansi opened #257 "Quantitative Economics with Julia - Documentation PDF"
Hello,

What happened to the PDF documentation version of this library?
About 800 pages are removed from the book?
It was 1048 pages last year, now it is only 194 pages.

The pdf download link:
https://julia.quantecon.org/

Thank you!

[2020-03-04 17:16] jstac commented on #257
Thanks @Sinansi, your report is much appreciated.  We'll look into it immediately.

BTW, [this repo](https://github.com/QuantEcon/lecture-source-jl) is specific to the lectures.

[2020-03-04 22:20] Sinansi commented on #257
The original book had the following sections:
Part 1: Getting Started with Julia
Part 2: Packages and Software Engineering in Julia
Part 3: Tools and Techniques
Part 4: Dynamic Programming
Part 5: Multiple Agent Models
Part 6: Time Series Models
Part 7: Dynamic Programming Squared

Now the downloadable version has Parts 1 & 2 only.

[2020-03-04 23:32] mmcky commented on #257
thanks @Sinansi -- we are working on a fix for the incomplete `pdf` generation.

[2020-03-05 23:06] #257 closed

[2020-03-06 20:59] spirosbax opened #258 "Estimation of hurst exponent"
While looking at the documentation for this package I was surprised to find that it does not contain any function for Hurst exponent estimation. I feel like it would be a very appropriate addition for this package. Also a general fractal dimension estimation maybe via the common box counting method would be good. What do you think ?

[2020-03-06 23:59] jstac commented on #258
Hi @spirosbax, could you please give some overview of applications that you have in mind?

[2020-03-13 16:25] spirosbax commented on #258
Well for starters, the Hurst exponent provides information about the memory of a timeseries. It can be seen as describing the ACF by a single number and it is very useful in classifying time series. An H value of 0.5 means that the series is a random walk while a value closer to 1 means that the series follows a trend. For this reason it is used a lot in financial time series as well as in time se

[2020-05-14 08:18] kderkba opened #259 "Problem installing and using QuantEcon library"
Hi,
When i Try to use QuantEcon library by typing "using QuantEcon" I get the following error: failed to precompile QuantEcon to..."
And it says:
ERROR: LoadError: FFTW is not properly installed. Please run Pkg.build("FFTW") and restart Julia.

When I try to build FFTW I get an other error (images below)
![quant_econ_err](https://user-images.githubusercontent.com/45052587/81910439-40b9b200-95cc-11

[2020-05-14 09:08] oyamad commented on #259
What happens if you run `import Pkg; Pkg.add("FFTW")` as instructed and then `Pkg.build("FFTW")`?

[2020-05-14 09:19] kderkba commented on #259
I get an Error: Error building FFTW. (image below)
![quant_econ_err2](https://user-images.githubusercontent.com/45052587/81916893-bde92500-95d4-11ea-8f87-a683ed873d41.png)

[2020-05-14 09:22] oyamad commented on #259
Sorry, it's saying `import Pkg; Pkg.add("Pkg")`. What happens if you just run `import Pkg`?

[2020-05-14 09:30] kderkba commented on #259
It does the same thing. I am able to run import Pkg; Pkg.add.("Pkg") (I also find this a bit counter intuitive, how can I add "Pkg" from Pkg.add?)

But basically I have Pkg, and when I try to run build FFTW it gives the same error as before.

[2020-05-14 10:03] oyamad commented on #259
Maybe this is related https://discourse.julialang.org/t/problem-with-pkg-cannot-be-found-in-current-path/26492 ?

[2020-05-17 23:23] zdroid opened #260 "Repository's site URL should be updated"
Currently, repository's URL (next to description) points to http://quantecon.org/julia_index.html. It should be https://quantecon.org/quantecon-jl/ instead.

[2020-05-17 23:25] zdroid commented on #254
That's the fix for this.

[2020-05-17 23:25] zdroid commented on #260
Already opened in #254.

[2020-05-17 23:25] #260 closed

[2020-05-22 00:38] oyamad commented on #254
@mvinoba @zdroid Thanks! Fixed.

[2020-05-22 00:38] #254 closed

[2020-06-10 10:42] #236 closed

[2020-07-02 13:29] Jovansam opened #263 "quad.jl + qnwbeta"
Warning: `lgamma(x::Real)` is deprecated, use `(logabsgamma(x))[1]` instead.
│   caller = qnwbeta(::Int64, ::Float64, ::Float64) at quad.jl:382
└ @ QuantEcon ...\.julia\packages\QuantEcon\vVeHL\src\quad.jl:382

[2020-07-02 13:31] sglyon commented on #263
Thanks @Jovansam would you be willing to make this change in a pull request?

[2020-07-02 13:32] Jovansam commented on #263
Unfortunately, I am new to github and julia. Might break more things than I can fix. But will learn slowly, and in future I will.

[2020-07-02 15:44] sglyon commented on #263
No problem, reporting the issue is quite helpful!

[2020-09-21 16:32] andi3141 commented on #131
I am interested in the project. As this issue is still marked open, is anyone working on it?

[2020-09-21 19:35] jstac commented on #131
@Shunsuke-Hori , you did some work with filters didn't you?

[2020-09-21 19:55] Shunsuke-Hori commented on #131
@jstac @andi3141 Yes
- HP filter: https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/filter.jl#L12
- Hamilton filter: https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/filter.jl#L44
- Kalman smoother: https://github.com/QuantEcon/QuantEcon.jl/blob/master/src/kalman.jl#L186
    - Not mine, but there is a PR for Kalman filter in #235
- two more PRs (to be merged, I think): BK filter (

[2020-09-21 22:06] jstac commented on #131
@andi3141 , would you be willing to look at the existing filters in the library, linked to above, and then review those open PRs?

That might be a good way to get started.

@sglyon How does this sound to you?  (Some of those PRs have already had input and could be ready to merge without further review.)

[2020-09-22 12:06] andi3141 commented on #131
@jstac sure, no problem. Happy to help

[2020-09-22 14:18] sglyon commented on #131
Thanks @jstac that sounds good to me.

@andi3141 please take a look at the pull requests and leave a comment when you've finished reviewing. Then we can work towards getting them merged.

[2020-10-07 14:49] andi3141 commented on #131
So I had a look at the HP, Hamilton, and BK filter, which all seem fine. I am currently looking at the Kalman filter. In the pull request [235](https://github.com/QuantEcon/QuantEcon.jl/pull/235), an example file [kalman_tracking_2d_example.jl](https://github.com/QuantEcon/QuantEcon.jl/blob/598a64e9fc8e7a2ab66c3c30f69b50d4d0656395/examples/kalman_tracking_2d_example.jl) in the example folder is ad

[2020-10-12 11:34] SuyongYang opened #265 "Julia issue : ERROR: UndefVarError: JacobiRec not defined"
Hello, I'm practicing the Julia codes in "Quantitative Economics with Julia (2020)" with my Ubuntu computer.
It's so far satisfactory, but I got
some problems with implementing the codes regarding 'On the Jog Search' on Chapter 30.

I typed the codes exactly, but repeatedly got the error message mentioned above.

I tried updating the regarding packages, but still swamped in the problematic message

[2020-10-13 13:42] #265 closed

[2020-10-13 13:44] SuyongYang commented on #265
I finally fixed it which was dependency problem.

[2020-10-13 14:48] sglyon commented on #265
Excellent, thank you!

[2020-12-11 09:40] Shunsuke-Hori commented on #131
@andi3141

I guess so, though I'm not the person who added them.
Example codes are typically used to illustrate practical usage of a package.
I don't think it's strictly necessary in this repository, but it won't hurt to have it (as long as it works).

If you could check the example file as well and leave a comment on #235, that would be great.

[2021-08-05 05:37] SeongDeokKo opened #266 "installation error"
Hello.

version-info is

Julia Version 1.6.2
Commit 1b93d53fc4 (2021-07-14 15:36 UTC)
Platform Info:
  OS: Windows (x86_64-w64-mingw32)
  CPU: Intel(R) Core(TM) i5-7200U CPU @ 2.50GHz
  WORD_SIZE: 64
  LIBM: libopenlibm
  LLVM: libLLVM-11.0.1 (ORCJIT, skylake)

`Pkg.status()
      Status `C:\Users\ksdsk\.julia\environments\v1.6\Project.toml`
  [6e4b80f9] BenchmarkTools v1.1.1
  [052768ef] CUDA v3.

[2021-09-03 21:25] jacobadenbaum commented on #266
I've run into a similar problem installing with BlackBoxOptim.jl on master simultaneously with QuantEcon.jl.  It seems like a downstream dependency of QuantEcon has a compat bound on Distributions.  So far, I haven't been able to find it yet -- is this a known issue?

Steps to reproduce:
[code]

[2021-09-04 00:05] jstac commented on #266
Thanks for your feedback @jacobadenbaum and @SeongDeokKo .

I'm hoping @oyamad or @sglyon will have time to respond.  (Also CC @jlperla.)

[2021-09-04 00:17] jlperla commented on #266
Are far as I can tell, the only constraint for a compatability bound here is on DSP?  https://github.com/QuantEcon/QuantEcon.jl/blob/master/Project.toml#L26

And it lower bounds it as far as I can tell? (https://pkgdocs.julialang.org/dev/compatibility/ )

But the DSP project it refers to is another animal entirely... This is the current master of the DSP project file: https://github.com/JuliaDSP/D

[2021-10-06 12:56] JuliaTagBot opened #269 "TagBot trigger issue"
This issue is used to trigger TagBot; feel free to unsubscribe.

If you haven't already, you should update your `TagBot.yml` to include issue comment triggers.
Please see [this post on Discourse](https://discourse.julialang.org/t/ann-required-updates-to-tagbot-yml/49249) for instructions and more details.

If you'd like for me to do this for you, comment `TagBot fix` on this issue.
I'll open a PR

[2021-10-06 12:56] #269 closed

[2021-11-28 15:19] RainbowZephyr opened #270 "Issue with StatsFuns module"
Hello,
I have been trying to install the library but it keeps precompilation errors, it is conflicting with StatsFuns module as below:

[code]

This is using Julia v1.6 on ArchLinux.

Thanks in advance

[2022-07-01 12:26] oyamad opened #273 "Fix test failure in test_markov_approx.jl"
https://github.com/QuantEcon/QuantEcon.jl/runs/7090838653?check_suite_focus=true#step:6:211

See #272.

[2022-07-01 16:32] oyamad commented on #273
Done by #274.

[2022-07-01 16:32] #273 closed

[2022-07-05 14:26] greimel opened #275 "Use `StableRNGs` in tests"
@oyamad asked me to expand my comment in #274 into an issue. Here it is.

A lot of tests currently depend on outcomes of simulations. In order to get reproducible results, the tests set `seed`s. However the random number streams are not guaranteed to be the same across Julia version. This led to the problem visible in #274: a test suddenly broke on Julia 1.7 and above.

In order to avoid this on c

[2022-07-05 17:00] oyamad commented on #263
Has already been fixed by #264.

[2022-07-05 17:00] #263 closed

[2022-07-05 17:04] oyamad opened #276 "Fix deprecation warning with `freqz`"
[code]

[2022-07-05 17:07] oyamad commented on #234
Fix seems to have been released.

[2022-07-05 17:07] #234 closed

[2022-07-05 20:48] greimel commented on #276
that's fixed in #271

[2022-07-05 21:12] #276 closed

[2022-07-18 15:05] greimel commented on #189
It is now possible to register multiple package in (multiple subdirectories of) one repository. (One widely used package that makes use of this is https://github.com/JuliaPlots/Makie.jl.) I managed to split out some sub-packages of QuantEcon in my fork  https://github.com/greimel/QuantEconX.jl (I even registered smaller packages in a private package registry for some private project.)

I think it

[2022-07-23 16:44] sglyon commented on #189
@greimel this is a neat idea! Thanks for sharing. @oyamad (and others) do you feel like BasisMatrices belongs here?

[2022-11-14 19:50] samwycherley opened #279 "Migration from LightGraphs to Graphs not reflected in docs"
The docs still describe `period` as a `LightGraphs` function. I think this needs updating now that this is an extension of a `Graphs.jl` function, probably just by rebuilding the docs?

[2022-11-15 04:03] #279 closed

[2022-11-15 04:15] oyamad commented on #279
@samwycherley Thanks for reporting. Documentation has been rebuilt now.